@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?67o60m');
  src:  url('fonts/icomoon.eot?67o60m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?67o60m') format('truetype'),
    url('fonts/icomoon.woff?67o60m') format('woff'),
    url('fonts/icomoon.svg?67o60m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconcd-"], [class*=" iconcd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcd-API:before {
  content: "\e913";
}
.iconcd-morea:before {
  content: "\e900";
}
.iconcd-daohai:before {
  content: "\e901";
}
.iconcd-jieshao:before {
  content: "\e902";
}
.iconcd-shengming:before {
  content: "\e903";
}
.iconcd-Android:before {
  content: "\e904";
}
.iconcd-chengguo:before {
  content: "\e905";
}
.iconcd-map:before {
  content: "\e906";
}
.iconcd-more:before {
  content: "\e907";
}
.iconcd-kaifa:before {
  content: "\e908";
}
.iconcd-zhishu:before {
  content: "\e909";
}
.iconcd-tall:before {
  content: "\e90a";
}
.iconcd-pingfen:before {
  content: "\e90b";
  color: #ff962f;
}
.iconcd-iphone:before {
  content: "\e90c";
}
.iconcd-index:before {
  content: "\e90d";
}
.iconcd-datatile:before {
  content: "\e90e";
}
.iconcd-soso:before {
  content: "\e90f";
  color: #cdcdcd;
}
.iconcd-news:before {
  content: "\e910";
}
.iconcd-xingxi:before {
  content: "\e911";
}
.iconcd-yingyou:before {
  content: "\e912";
}
.iconcd-chuangxin:before {
  content: "\e905";
}
