@charset "utf-8";
/* pagination */
.pagination {
	display: inline-block;
	font-size: 12px;
	line-height: normal;
	overflow: hidden;
}

.pagination {
	*display: inline
}

.pagination a {
	text-decoration: none;
	border: solid 1px #167abd;
	color: #15B;
}

.pagination a, .pagination span {
	display: inline-block;
	float: left;
	padding: 1px 9px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 14px
}

.pagination .current {
	background: #167abd;
	color: #fff;
	border: solid 1px #167abd;
}

.pagination .current.prev, .pagination .current.next {
	color: #999;
	border-color: #999;
	background: #fff;
}