<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>com.inspur.hsf.config.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>securityFilter</filter-name>
    <filter-class>org.loushang.internet.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>excludes</param-name>
     	<param-value>*.jpg</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.loushang.internet.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>*.jpg,*.jsp,*.ico,*.css,*.html,*.png,*.js,*.gif,*.swf,*.xls,*.doc,*/datainterface/*</param-value>
    </init-param>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>webSiteFilter</filter-name>
    <filter-class>com.inspur.data.portal.filter.WebSiteFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>*.xls,*.xlsx</param-value>
    </init-param>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>themeBindingFilter</filter-name>
    <filter-class>org.loushang.internet.filter.ThemeBindingFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>*.jpg,*.jsp,*.ico,*.css,*.html,*.png,*.js,*.gif,*.swf,*.xls,*.doc,*.xlsx</param-value>
    </init-param>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>webDispatcher</filter-name>
    <filter-class>org.loushang.internet.servlet.WebDispatcherFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>/FlashCache,*zip,*.html</param-value>
    </init-param>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>developerFilter</filter-name>
    <filter-class>com.inspur.data.portal.filter.DeveloperFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>open/index</param-value>
    </init-param>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>fromEncode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>developerFilter</filter-name>
    <url-pattern>/developer/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>webSiteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>themeBindingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>webDispatcher</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/website</taglib-uri>
      <taglib-location>/WEB-INF/classes/META-INF/website.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/website-function</taglib-uri>
      <taglib-location>/WEB-INF/classes/META-INF/function.tld</taglib-location>
    </taglib>
    <taglib>
	  <taglib-uri>/tags/uc-function</taglib-uri>
	  <taglib-location>/WEB-INF/classes/META-INF/ucfunction.tld</taglib-location>
	</taglib>
  </jsp-config>
<!--     <error-page>  
        <exception-type>java.lang.Throwable</exception-type>  
       <location>/themes/default/jsp/500.jsp</location>  
     </error-page>  
     <error-page>  
     <error-code>500</error-code>  
          <location>/themes/default/jsp/500.jsp</location>  
     </error-page>  
     <error-page>  
       <error-code>404</error-code>  
    <location>/themes/default/jsp/404.jsp</location>  
     </error-page>   -->
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
</web-app>