@charset "utf-8";
/* CSS Document */
.applyContent {
	float: right;
	width: 760px;
	overflow: hidden;
	border: 1px solid #DEDEDE;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #FAFAFA;
}

.applytable {
	width: 100%;
}

.applytable thead tr {
	background-color: #FAFAFA;
}

.applytable tbody tr td {
	text-align: left;
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

.applytable .lefttd {
	background-color: #F7F7F7;
}

.applytable input {
	height: 20px;
}

.applyContent .wi-wtitle {
	background: -moz-linear-gradient(center top, #FAFAFA, #F1F1F1) repeat
		scroll 0 0 transparent;
	border-bottom: 1px solid #D7D7D7;
	border-radius: 5px 5px 0 0;
	color: #4C4C4C;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
}

.table-box th {
	color: #4f6b72;
	border: 1px solid #C1DAD7;
	border-left: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 0;
	background: #CAE8EA no-repeat;
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.table-box td {
	background: #fff;
	font-size: 12px;
	color: #4f6b72;
	padding: 6px 5px;
	text-align: center;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
}

.table-box .tr {
	text-align: left;
}

.tipWarning {
	margin-left: 10px;
	color: red;
}

#service_name_handler {
	top: 5px;
	cursor: pointer;
	position: relative;
	display: inline;
}

#app_name_handler {
	top: 5px;
	cursor: pointer;
	position: relative;
	display: inline;
}

.table-box td.dia_create_app {
	width: 100%;
	cursor: pointer;
	text-align: center;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.table-box td.dia_create_app a {
	color: blue;
}

.table-box td.dia_create_app:hover {
	
}

.level_div {
	position: relative;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #aaa;
}

.level_div lable {
	position: absolute;
	top: 6px;
}

.level_div ._c_2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	display: inline-block;
	margin-right: 10px;
}