.form-body dl{
	padding-top:0px;
	padding-bottom:2px;
}
.form-body dd{
	height:40px;
	line-height:40px;
}
.form-contain {
	margin: 15px;
	padding: 10px;
	font-size: 14px;
	height: auto;
}
.form-baseInfo dd {
	width: 220px;
	padding: 0px 0px 0px 2px;
}
.form-baseInfo .input {
	margin: 5px;
	width: 200px;
	height: 20px;
	font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
	color: #666;
}
.form-baseInfo dt {
	margin-left: 20px;
}
.form-baseInfo .select {
	height: 25px;
	font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
	color: #666;
	width: 205px;
	margin: 5px;
	text-align: left;
}
.nation-button {
	folat: left;
	width: 60px;
	height: 28px;
	margin: 2px;
}
dd.birthday {
	width: 300px;
	height: 25px;
}
.form-baseInfo .select-industry {
	width: 100px;
	height: 25px;
	font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
	color: #666;
}
.form-body .btn-contain {
	margin-top: 15px;
}
.form-body .check_rule{
	left: 170px;
}
.form-body .form-info,.btn-contain {
	width: 550px;
	margin: 0 auto;
}
.detail-lable{
	display: inline-block;
	width: 200px;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
}
