@charset "utf-8";

body {
	margin: 0;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

.gray {
	color: #666
}

.orange {
	color: #FFA500
}

.dtfw_content {
	margin: auto;
	padding: 0px;
	width: 980px;
}

.dtfw_header {
	height: 31px;
	background-color: #f9f9f9;
	color: #666;
}

.dtfw_header .dtfw_content div span a {
	text-decoration: none;
	color: #666;
}

.dtfw_header .dtfw_content .dtfw_headerleft {
	float: left;
	margin-top: 8px;
}

.dtfw_header .dtfw_content .dtfw_headerleft span {
	margin-right: 5px;
}

.dtfw_header .dtfw_content .dtfw_headeright {
	float: right;
	margin-top: 8px;
}

.dtfw_header .dtfw_content .dtfw_headeright span {
	margin-left: 5px;
}

.dtfw_line {
	/*height: 1px;*/
	background-color: #5c97c8;
}

.dtfw_title {
	background-color: #fff;
	font-family: "微软雅黑";
}

.dtfw_title .dtfw_content {
	height: 101px;
	background-image: url("../../img/map/top_bg_header.jpg");
}

.dtfw_title .dtfw_logo {
	float: left;
	width: 107px;
	height: 101px;
	background-image: url("../../img/map/top_logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_title .dtfw_keyword {
	float: left;
	width: 274px;
	height: 101px;
	margin-left: 15px;
	background-image: url("../../img/map/top_title.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_title .dtfw_search {
	float: right;
	width: 441px;
	height: 101px;
	background-image: url("../../img/map/top_bg_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_title .dtfw_schtitle {
	float: left;
	width: 98px;
	height: 40px;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 15px;
	color: #333;
}

.dtfw_title .dtfw_schtitle .dtfw_schtext {
	float: left;
	padding: 11px 2px 10px 10px;
	width: 70px;
}

.dtfw_title .dtfw_schtitle .dtfw_schtext span {
	margin-right: 5px;
}

.dtfw_title .dtfw_schtitle .dtfw_schdown {
	width: 16px;
	height: 40px;
	float: right;
	background-image: url("../../img/map/top_arrow_search.jpg");
	background-repeat: no-repeat;
	background-position: 0 19px;
}

.dtfw_title .dtfw_schinput {
	float: left;
	width: 238px;
	height: 40px;
	position: relative;
	top: 30px;
}

.dtfw_title .dtfw_schinput .dtfw_inputext {
	width: 225px;
	height: 35px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-left: 10px;
}

.dtfw_title .dtfw_schbutton {
	float: left;
	width: 105px;
	height: 41px;
	position: relative;
	top: 30px;
}

.dtfw_title .dtfw_schbutton div {
	width: 104px;
	height: 41px;
	border: 0;
	background-image: url("../../img/map/top_btn_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_nav {
	height: 40px;
	background-image: url("../../img/map/top_bg_nav.jpg");
	background-repeat: repeat-x;
	color: #fff;
}

.dtfw_nav .dtfw_content {
	height: 40px;
}

.dtfw_nav .dtfw_content ul {
	padding: 0px;
	margin: 0;
}

.dtfw_nav	.dtfw_content ul li {
	height: 15px;
	float: left;
	list-style: none;
	padding: 13px 19px 11px 19px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.dtfw_nav	.dtfw_content ul li:hover {
	background-image: url("../../img/map/top_nav_hover2.jpg");
	background-repeat: repeat-x;
}

.dtfw_carousel {
	height: 150px;
	background-repeat: repeat-x;
	font-family: "微软雅黑";
}

.dtfw_carousel .dtfw_content {
	height: 150px;
	position: relative;
	background: url(../../img/map/top_banner1.png);
}

.dtfw_carousel .dtfw_lunbobg1 {
	background-image: url("../../img/map/top_banner1.png");
}

.dtfw_carousel .dtfw_content .dtfw_notice {
	width: 250px;
	height: 265px;
	position: absolute;
	z-index: 999;
	left: 727px;
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 25px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_noticetitle {
	width: 230px;
	height: 50px;
	margin: 0 auto 0 auto;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_noticetitle div {
	margin-top: 19px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_notitleleft {
	float: left;
	font-size: 16px;
	width: 50%;
	padding-bottom: 9px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_notitleright {
	float: left;
	font-size: 16px;
	width: 50%;
	padding-bottom: 9px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_notitleborder {
	border-bottom: 2px solid #B22222;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice {
	font-size: 14px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice ul {
	padding: 0;
	margin-left: 18px;
	border-left: 1px solid #ddd;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice ul li {
	position: relative;
	list-style: none;
	margin-left: -5px;
	padding-left: 20px;
	line-height: 37px;
	background-image: url("../../img/map/cloud-icon.png");
	background-repeat: no-repeat;
	background-position: -292px 9px;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice ul li a {
	text-decoration: none;
	color: #333;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice ul li a:hover
	{
	color: #008dd5;
}

.dtfw_carousel .dtfw_content .dtfw_notice .dtfw_shownotice .dtfw_checked
	{
	width: 18px;
	height: 18px;
	position: absolute;
	left: -5px;
	top: 9px;
	background-image: url("../../img/map/cloud-icon.png");
	background-repeat: no-repeat;
	background-position: -31px top;
}

.dtfw_carousel .dtfw_content .dtfw_carouselbutton {
	position: absolute;
	z-index: 999;
	top: 272px;
	left: 630px;
	width: 94px;
	height: 22px;
	bottom: 0;
}

.dtfw_carousel .dtfw_content .dtfw_carouselbutton div {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.dtfw_carousel .dtfw_content .dtfw_carouselbutton .dtfw_carouncheck {
	background-image: url("../../img/map/top_banner_dot_b.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_carousel .dtfw_content .dtfw_carouselbutton .dtfw_carouchecked {
	background-image: url("../../img/map/top_banner_dot_w.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dtfw_count {
	height: 87px;
}

.dtfw_count .dtfw_countbgleft {
	position: absolute;
	z-index: -1;
	left: 0;
	height: 87px;
	width: 50%;
	background-image: url("../../img/map/top_bg_counter_l.jpg");
	background-repeat: repeat-x;
}

.dtfw_count .dtfw_countbgright {
	position: absolute;
	z-index: -1;
	right: 0;
	height: 87px;
	width: 50%;
	background-image: url("../../img/map/top_bg_counter_r.jpg");
	background-repeat: repeat-x;
}

.dtfw_count .dtfw_content {
	height: 87px;
	background-image: url("../../img/map/top_bg_counter.jpg");
}

.dtfw_count .dtfw_content .dtfw_countleft {
	float: left;
	position: relative;
	top: 28px;
	left: 105px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #fff;
}

.dtfw_count .dtfw_content .dtfw_countleft span {
	font-size: 24px;
	font-family: "Arial";
}

.dtfw_count .dtfw_content .dtfw_countright {
	float: right;
	position: relative;
	top: 37px;
	right: 54px;
	font-family: "微软雅黑";
	font-size: 17.5px;
}

.dtfw_count .dtfw_content .dtfw_countright span {
	font-size: 20px;
	font-family: "Arial";
}

.dtfw_detail {
	padding-top: 150px;
	background: url(../../img/map/jc_bg.jpg) no-repeat;
	margin-right: auto;
	margin-left: auto;
	background-position: top;
}

.dtfw_detail .dtfw_content {
	min-height: 1000px;
}

.dtfw_footer {
	height: 111px;
	background-image: url("../../img/map/footer_bg.jpg");
	background-repeat: repeat-x
}

.dtfw_footer .dtfw_content {
	text-align: center;
	color: #666;
}

.dtfw_footer .dtfw_content .dtfw_footerup {
	padding-top: 20px;
}

.dtfw_footer .dtfw_content .dtfw_footerup span {
	margin: 0 13px 0 13px;
}

.dtfw_footer .dtfw_content .dtfw_footerup span a {
	text-decoration: none;
	color: #666;
}

.dtfw_footer .dtfw_content .dtfw_footermiddle {
	height: 2px;
	margin: 8px 0 8px 0;
	background-image: url("../../img/map/footer_line.jpg");
	background-repeat: repeat-x;
}

.dtfw_footer .dtfw_content .dtfw_footerbottom p span {
	margin: 0 5px 0 5px;
}

.dtfw_detail .dtfw_content .zxyy .top {
	height: 40px;
	width: 960px;
	float: left;
	background:
		url(../%E5%BC%80%E6%94%BE%E5%B9%B3%E5%8F%B0-%E6%96%B0%E9%97%BB%E5%88%97%E8%A1%A8/../../img/map/zxyy_bg.png);
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 2px solid #b0c2da;
	border-left: 1px solid #dbdbdb;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 20px;
	margin-top: 10px;
}

.dtfw_con {
	width: 100%;
	height: 600px;
}

.blue {
	color: #09F;
	font-weight: bold;
}

.dtfw_detail .dtfw_content .dtfw_detailright .dtfw_detailqbyy {
	font-size: 16px;
	line-height: 50px;
	font-weight: bold;
	background: url(../../img/map/weixin.png) no-repeat 15px center;
	border-bottom: 1px solid #84cbf0;
	margin-top: 10px;
}

.dtfw_detail .dtfw_content .dtfw_detailright {
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}

.dtfw_detail .dtfw_content .dtfw_detailright .dtfw_detailwdtfwc {
	background: url(../../img/map/weibo.png) no-repeat 15px center;
	line-height: 50px;
	text-align: left;
	font-size: 15px;
	padding-left: 55px;
}

.dtfw_detail .dtfw_content .dtfw_detailright .dtfw_zhifubao {
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	background: url(../../img/map/zhifubao.png) no-repeat 15px center;
	text-align: left;
	padding-left: 55px;
	border-bottom: 1px solid #84cbf0;
}

.dtfw_detail .dtfw_content .dtfw_detailright .xuxian {
	border-top: 1px dashed #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dtfw_detail .dtfw_content .dtfw_detailright .dtfw_detailyouxiang {
	background: url(../../img/map/youxiang.png) no-repeat 15px center;
	line-height: 50px;
	text-align: left;
	font-size: 15px;
	padding-left: 55px;
}

.dtfw_detail .dtfw_content .dtfw_detailright .dtfw_detaildianhua {
	background: url(../../img/map/dianhua.png) no-repeat 15px center;
	line-height: 50px;
	text-align: left;
	font-size: 15px;
	padding-left: 55px;;
	margin-bottom: 50px;
}

.dtfw_main .dtfw_mainleft {
	float: left; /* left:0; */
	width: 350px;
	border-right: 1px solid #cacaca;
	background: #fafafa;
	/*  background-image:url('../../img/map/left_bg.png'); background-repeat:repeat;*/
	height: 100%;
	overflow: auto;
}

.dtfw_main .dtfw_mainleft .pageye {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

.dtfw_main .dtfw_mainleft .pageye .pagination {
	margin: 5px 0 5px 16px;
}

.dtfw_main .dtfw_mainleft .dtfw_ss {
	margin-top: 16px;
}

.dtfw_main {
	width: 100%;
	height: 100%; /* min-height:564px; */
	margin: 1px 1px 1px 1px;
}

.dtfw_main .dtfw_mainleft .stfw_top .shy {
	line-height: 30px;
	width: 45px;
	text-align: center;
}

ul {
	list-style: none;
	margin: 0px;
}

.dtfw_main .dtfw_mainright {
	margin-left: 350px;
	position: relative;
	height: 100%;
}

.dtfw_main .dtfw_mainleft .dtlb {
	font-size: 14px;
	color: #06F;
	padding-left: 15px;
	font-weight: bold;
	line-height: 40px;
	float: left;
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .themeul {
	padding-left: 50px;
	height: 75px;
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .heightauto {
	height: 200px;
	overflow-y: scroll;
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .themeul li {
	width: 80px;
	margin-right: 15px;
	margin-top: 15px;
	text-align: center;
	cursor: pointer;
	float: left
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .themeul li a {
	width: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 40px;
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .ztfltop {
	position: relative;
	font-size: 15px;
	line-height: 40px;
	height: 35px;
	width: 85%;
	padding-left: 2px;
	border-bottom: 1px solid #09C;
	margin: auto;
	font-family: "微软雅黑";
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl {
	margin-bottom: 15px;
	height: 80%;
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl ul {
	margin-left: -16px;
	*margin-left: 20px;
	overflow: hidden;
}

.dtfw_main .dtfw_mainleft .yxlb {
	font-size: 14px;
	color: #06F;
	padding-left: 15px;
	padding-top: 12px;
	font-weight: bold;
	line-height: 40px;
}

.stfw_label {
	width: 25px;
	position: absolute;
	left: -36px
}

.stfw_label ul li {
	cursor: pointer;
	width: 25px;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	padding: 10px 5px 10px 10px;
	border: 1px solid #fff;
	font-weight: bold;
	color: #999;
}

.stfw_label ul {
	margin: 40px 0px 0px 0px;
	list-style: none;
	padding: 0;
}

/*搜索*/
#search-box {
	position: relative;
	width: 290px;
	height: 50px;
	/* background:url(../../img/map/top_bg_searchbox.jpg) no-repeat 0 0; */
	margin: 0 auto
}

.input-box {
	float: left;
	width: 235px;
	height: 35px;
	line-height: 29px;
	text-align: left;
	font-size: 16px;
	padding: 0 5px;
	border: 1px solid #1babc5;
	font-family: "微软雅黑";
}

.button {
	position: absolute;
	top: 30px; /* float:right;  background:none;*/
	border: 0;
	text-indent: -999px;
	width: 50px;
	height: 35px;
	cursor: pointer;
	margin-top: -30px;
	background: url(../../img/map/search.png) #1ec1de no-repeat center;
}

.dtfw_main .dtfw_mainleft #yx li p {
	float: left;
	line-height: 25px;
	margin: 0px;
	width: 185px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dtfw_main .dtfw_mainleft #yx li {
	height: auto;
}

.dtfw_main .dtfw_mainleft #yx li img {
	float: right;
	margin-right: 10px;
	vertical-align: middle;
	margin: 3px;
}

.dtfw_main .dtfw_mainleft #yx {
	padding-left: 17px;
	width: 210px;
}

.dtfw_main .dtfw_mainleft #yx li .miaoshu {
	width: 210px;
	color: #999;
	display: none;
	float: left;
	line-height: 24px;
}

.dtfw_main .dtfw_mainleft #dtlb_ul li p {
	float: left;
	line-height: 25px;
	margin: 0px;
	width: 185px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dtfw_main .dtfw_mainleft #dtlb_ul li {
	height: auto;
}

.dtfw_main .dtfw_mainleft #dtlb_ul li img {
	float: right;
	margin-right: 10px;
	vertical-align: middle;
	margin: 3px;
}

.dtfw_main .dtfw_mainleft #dtlb_ul {
	padding-left: 17px;
	width: 210px;
}

.dtfw_main .dtfw_mainleft #alreadySelected #dtlb_ul li .miaoshu {
	width: 210px;
	color: #999;
	display: none;
	float: left;
	line-height: 24px;
}

.dtfw_main .dtfw_mainleft .zd {
	margin-left: 15px;
	color: #999;
	line-height: 24px;
	border-bottom: 1px solid #999;
	width: 208px;
	margin-bottom: 15px;
	overflow: hidden;
}

.dtfw_main .dtfw_mainleft .zd p {
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}

.dtfw_main .dtfw_mainleft .zd ul {
	float: right;
}

.dtfw_main .dtfw_mainleft .zd ul li {
	float: right;
	padding-right: 5px;
	padding-left: 5px;
}

.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}

.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}

.dtfw_mainlb {
	width: 980px;
	height: auto !important;
	min-height: 552px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.dtfw_mainlb .dtfw_mainlbleft .listitle {
	border-bottom: 1px solid #008dd5;
	padding: 15px 0 5px 15px;
	font-size: 16px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
}

.dtfw_mainlb .dtfw_mainlbleft .listitle img {
	margin-right: 10px;
}

.dtfw_mainlb .dtfw_mainlbleft .listul ul {
	padding: 0 10px 0 10px;
	font-size: 14px;
	list-style: none;
}

.dtfw_mainlb .dtfw_mainlbleft .listul ul li {
	padding: 7px 5px 7px 5px;
	color: #777;
	height: 15px;
}

.dtfw_mainlb .dtfw_mainlbleft .listul ul li span {
	font-size: 12px;
	float: right;
}

.dtfw_mainlb .dtfw_mainlbleft .dtfw_mainlb .listul ul li a {
	text-decoration: none;
	color: #333;
	float: left;
}

.dtfw_mainlb .dtfw_mainlbleft .listul div {
	text-align: center;
}

.dtfw_mainlb .dtfw_mainlbleft .listul .fenleio {
	height: 495px;
	overflow: hidden;
}

.dtfw_mainlb .dtfw_mainlbleft .listul img {
	float: left;
	margin: 3px 5px 0 0;
}

.dtfw_mainlb .dtfw_mainlbleft .listul .biaoqiano {
	height: 174px;
	overflow: hidden;
}

.dtfw_mainlb .dtfw_mainlbleft .listul .fenleio.fenlei li a {
	color: #333;
}

.dtfw_mainlb .dtfw_mainlbleft {
	font-family: "微软雅黑";
	float: left;
	width: 242px;
	min-height: 550px;
	background-image: url('../../img/map/left_bg.png');
	background-repeat: repeat;
	filter:
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

.dtfw_mainlb .dtfw_mainlbleft .listul .fenleio.fenlei ul li a {
	color: #333;
	float: left;
	text-decoration: none;
}

.dtfw_mainlb .dtfw_mainlbright {
	float: right;
	width: 720px;
}

.dtfw_mainlb .dtfw_mainlbright .pageye .pagination {
	margin-left: 13px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow  .listdata {
	width: 700px;
	margin: 10px auto 0 auto;
	padding: 0;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata img {
	padding: 20px 15px 20px 25px;
	float: left;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata li {
	list-style: none;
	height: 120px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon {
	background-image: url('../../img/map/right_bg.png');
	background-repeat: repeat-x;
	height: 105px;
	width: 696px;
	float: right;
	padding-top: 15px;
	font-family: "宋体";
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .dataleft {
	width: 530px;
	float: left;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .leftopcon a
	{
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.dtfw_mainlb .dtfw_mainlbright .listshow  .listdata .datacon .leftopcon a:hover
	{
	color: #008dd5 !important;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .leftopcon span
	{
	font-size: 10px;
	color: orange;
	margin-left: 10px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .leftbottomcon
	{
	font-size: 13px;
	color: #999;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .leftbottomcon div
	{
	margin-top: 10px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .dataright {
	width: 150px;
	float: right;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .listdata .datacon .dataright .rightopcon
	{
	font-size: 13px;
	text-align: right;
	margin-top: 5px;
	letter-spacing: -1px;
	margin-right: 5px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .datacon .dataright .rightbottomcon
	{
	width: 80px;
	text-align: right;
	float: right;
	margin-top: 5px;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .datacon .dataright .rightbottomcon img
	{
	margin: 3px 3px 0 0;
	padding: 0;
	float: right;
}

.dtfw_mainlb .dtfw_mainlbright .listshow .datacon:hover {
	background-image: url('../../img/map/tjzy_td_on.jpg') !important;
	background-repeat: repeat-y;
}

.dtfw_mainlb .dtfw_mainlbright .top2 {
	width: 712px;
	height: 40px;
	background-color: #e9edf2;
	border-top: 1px solid #f0f0f0;
	font-family: "微软雅黑";
}

.dtfw_mainlb .dtfw_mainlbright .top2title {
	float: left;;
	font-size: 15px;
	font-weight: bold;
	background-color: #008dd5;
	color: #fff;
	padding: 10px 11px;
}

.dtfw_mainlb .dtfw_mainlbright .top2 ul {
	display: inline;
	padding: 0;
}

.dtfw_mainlb .dtfw_mainlbright .top2 ul li {
	list-style: none;
	float: left;
	font-size: 12px;
	padding: 11px;
	width: 68px;
	text-align: center;
	color: #000;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f0f0f0;
}

.dtfw_mainlb .dtfw_mainlbright .top2 ul li:hover {
	background-color: #fff;
}

.dtfw_mainlb .dtfw_mainlbright .top2 ul li a {
	color: #333;
	text-decoration: none;
}

.dtfw_mainlb .dtfw_mainlbright .top2 searchnum {
	float: right;
	font-size: 13px;
	padding: 0px 5px 0 0;
}

.dtfw_mainlb .dtfw_mainlbright .top2 searchnum span {
	font-size: 18px;
	color: orange;
	margin: 0 5px 0 5px;
}

.dtfw_mainlb .dtfw_mainlbright .top2 .current {
	background: #fff;
	border-bottom: 0;
	height: 18px
}

.dtfw_main .dtfw_mainleft .dtfw_ztfl .ztfltop img {
	margin-right: 10px;
}

.fullscreen {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
	z-index: 112;
	margin-left: 0 !important;
}

.fullscreen1 {
	position: fixed !important;
	top: 30px !important;
	left: 0;
	width: 100% !important;
	height: 100%;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop {
	height: 30px;
	background: #e9edf2;
	width: 100%;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop select {
	height: 25px;
	width: 60px;
	margin-top: 2px;
	margin-left: 3px;
	float: left;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop p {
	line-height: 30px;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop p img {
	margin-top: 3px;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop .qp {no-repeat 7px center;
	height: 100%;
	line-height: 30px;
	float: right;
	width: 35px;
	padding-left: 30px;
	border: 1px solid #ccc;
	background: url(../../img/map/qp_bg%20.png) no-repeat 10px center;
}

.dtfw_main .shouqi .arrow {
	background: url(../../img/map/sjtp_ico_show-arrow.png) no-repeat;
	height: 10px;
	width: 10px;
	margin-left: 8px;
	margin-top: 30px;
}

.dtfw_main .shouqi {
	background: url(../../img/map/dtfw_ico_hide_ba.PNG) no-repeat;
	height: 71px;
	width: 30px;
	position: absolute;
	z-index: 111;
	left: 350px;
	cursor: pointer;
	top: 218px;
}

.dtfw_main .shouqi2 .arrow2 {
	background: url(../../img/map/sjtp_ico_hide-arrow.png) no-repeat;
	height: 10px;
	width: 10px;
	margin-left: 8px;
	margin-top: 30px;
}

.dtfw_main .shouqi2 {
	background: url(../../img/map/dtfw_ico_hide_ba.PNG) no-repeat;
	height: 71px;
	width: 30px;
	position: absolute;
	z-index: 111;
	left: 0px;
	cursor: pointer;
	top: 218px;
}

.mapdraw {
	width: 100%;
	height: 100%;
	border: #ccc solid 1px;
	top: -1px;
}

.dtfw_main .mapwidth {
	margin-left: 0;
}

.main_nav {
	float: right;
}

.main_nav a {
	display: block;
	line-height: 30px;
	height: 30px;
	padding-left: 8px;
	overflow: hidden;
}

.main_nav .navs {
	width: 50px;
	height: 30px;
	float: left;
	border-left: 1px solid #CCC;
}

* html .main_nav .navs {
	overflow: hidden;
} /* only for ie6 */
.main_nav .navs .nav_a {
	color: #000000;
	text-decoration: none;
}

.main_nav .navs .nav_a:hover {
	background: #ccc;
}

.sub_nav {
	display: none;
	width: 50px;
	padding: 0;
	position: relative;
	z-index: 1000;
	filter: Alpha(opacity = 90);
	margin-top: -1px;
}

.sub_nav li a {
	color: #000000;
	text-decoration: none;
	background: #e9edf2;
}

.sub_nav li a:hover {
	color: #666;
	background: #ddd;
}

.clear {
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}

.lb1 {
	background: #63B8FF;
	border-radius: 5px;
	color: #fff !important;
}

.lb2 {
	background: #CAE1FF;
	border-radius: 5px;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 88);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 5%;
	width: 20%;
	height: 25%;
	padding: 20px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.listul .current {
	background-color: white;
}

.listul li:hover {
	background-color: white;
}

.listul li a:hover {
	color: #008dd5 !important;
}

.starcon {
	display: inline-block;
	height: 16px;
	width: 64px;
	overflow: hidden;
	background: url("../../img/catalog/score-sprites.png") no-repeat scroll
		0 -13px transparent;
}

.starmon {
	display: inline-block;
	height: 16px;
	width: 64px;
	overflow: hidden;
	background: url("../../img/catalog/score-sprites.png") no-repeat scroll
		0 3px transparent;
	float: left;
}

#alreadySelected {
	float: left;
}

.dtfw_mainlb .dtfw_mainlbright .dqzhuti {
	color: #333;
	min-width: 100px;
	height: 33px;
	font-weight: bold;
	margin-bottom: 10px;
	overflow: hidden;
}

.dtfw_mainlb .dtfw_mainlbright .zhutik {
	background-color: #fff;
	padding: 6px 12px;
	font-size: 15px;
	border: 1px solid #008dd5
}

.dtfw_mainlb .dtfw_mainlbright .dqzhuti div {
	display: inline-block;
}

.dtfw_mainlb .dtfw_mainlbright .dqzhuti .ztclose {
	width: 13px;
	height: 13px;
	background-image: url("../../img/catalog/close_min.png");
	cursor: pointer;
	margin-left: 10px;
}

.dtfw_mainlb .dtfw_mainlbright .top2 .geshi {
	margin-top: 3px;
}

.jiantou {
	margin-left: 2px;
	width: 10px;
	height: 11px;
	background: url('../../img/catalog/icons.png') no-repeat scroll -37px
		-160px transparent;
	display: inline-block;
}

.downstyle {
	display: none;
	width: 270px;
	padding: 5px;
	height: 85px;
	border-bottom: 1px dashed #cecece;
	position: absolute;
	z-index: 1000;
	background-color: #E8E8E8;
	top: 0;
	left: 0;
	text-align: center;
	font-family: "微软雅黑";
}

.downstyle i {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	background: url('../../img/catalog/icons.png') no-repeat scroll -56px
		-23px transparent;
	cursor: pointer;
}

.downstyle div {
	display: inline-block;
	width: 100px;
	padding: 7px;
	margin: 5px;
	color: #fff;
	background: #008B45;
}

.downstyle div:hover {
	background: #00CD66
}

.footer-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.schlist {
	max-height: 65%;
	overflow: auto;
	padding-left: 33px;
}

.schlist ul {
	padding-left: 15px;
}

.schlist ul li {
	width: 270px;
	margin-top: 5px;
	padding: 5px;
	height: 85px;
	border-bottom: 1px dashed #cecece;
	position: relative;
}

.schlist ul li img {
	position: absolute;
	right: 0;
	right: 27px;
	top: 37px;
}

.schlist ul li:hover {
	background: #E8E8E8;
}

.listuser {
	display: none;
}

.schlist ul li:hover .listuser {
	display: block;
}

.themezk {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url('../../img/map/newicon.png') no-repeat scroll 3px -30px
		transparent;
	right: 0;
	top: 10px;
	cursor: pointer;
}

.themesq {
	background-position: -15px -30px;
}

.listchecked {
	font-weight: bold;
	color: #104E8B;
}

.schbtn {
	display: inline-block;
	*display: inline;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
	float: right;
	margin-right: 5px;
}

.schbtnadd {
	background: #44b2d9;
	color: #fff;
	border-radius: 2px;
}

.schbtndel {
	background: #CFCFCF;
	border-radius: 2px;
}

.listtitle {
	font-size: 12px;
	font-weight: bold;
	color: #0079be;
	display: inline-block;
	*display: inline;
	max-width: 98px;
	height: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.listtitle:hover {
	color: #104E8B;
}

.listdetail {
	color: #666;
	width: 220px;
	height: 30px;
	overflow: hidden;
	margin: 10px 0;
	line-height: 16px;
}

.listuser {
	text-align: center;
}

.listuser a {
	color: #0079be;
}

.listuser a:hover {
	background-color:
}

.listuser span {
	display: inline-block;
	*display: inline;
	width: 50px;
	height: 20px;
}

.listuser span:hover {
	color: #104E8B;
	font-weight: bold;
}

.listuser i {
	display: inline-block;
	*display: inline;
	width: 15px;
	height: 15px;
	background-image: url('../../img/map/newicon.png');
	background-repeat: no-repeat;
	vertical-align: middle;
}

.listuser .fx {
	background-position: 0px 1px;
}

.listuser .dy {
	background-position: -16px 1px;
}

.listuser .jc {
	background-position: -33px 1px;
}

.listuser .xz {
	background-position: -50px 1px;
}

.listuser .dj {
	background-position: -70px 1px;
}

.sy_content {
	min-width: 980px;
}

@media screen and (max-height:820px) {
	.dtfw_main {
		height: 564px;
	}
	.dtfw_con {
		position: absolute;
	}
	.dtfw_main .dtfw_mainleft {
		position: relative;
		float: left;
	}
	.mapdraw {
		width: auto;
	}
	.footer-wrap {
		position: relative;
		width: 100%;
	}
}

.themeck:hover {
	color: #008dd5;
}

.downlist {
	position: absolute;
	z-index: 1000;
	display: none;
}

.downlist div {
	width: 50px;
	padding: 5px 0;
	text-align: center;
	background: #008B45;
	color: #fff;
	font-family: "微软雅黑";
	cursor: pointer;
}

.downlist div:hover {
	background: #00CD66;
}

.userxz span {
	position: relative;
}

/********新增CSS********/
.bzchecked {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.bzchecked li {
	float: left;
	line-height: 30px;
	margin-right: 10px;
}

.bzchecked li .checktitle {
	font-weight: bold;
	color: #0079be;
}

.bzchecked li label {
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bzchecked li input {
	vertical-align: middle;
}

.bzmodal {
	position: absolute;
	z-index: 999;
	width: 300px;
	padding: 5px;
	background-color: #fafafa;
	border: 1px solid #cdcdcd;
	opacity: .9;
}

.bzmodal .bztitle {
	font-weight: bold;
	margin-bottom: 5px;
}

.bzmodal .bzbody {
	margin: 10px 0;
}

.bzmodal .bzbody ul {
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.bzmodal .bzbody ul li {
	float: left;
	margin: 0 5px 5px 0;
}

.bzmodal .bzbody ul li input {
	vertical-align: sub;
}

.bzmodal .bzbody ul li label:hover {
	color: #0079be;
}

.newschlist li {
	background-color: #fafafa;
	position: relative;
}

.newschlist li .bzbtnadd {
	background: #44b2d9;
	color: #fff;
	border-radius: 2px;
}

.newschlist li:hover {
	background-color: #ddd !important;
}

.newschlist .active {
	background-color: #B0E2FF !important;
}

.newschlist .active:hover {
	background-color: #B0E2FF !important;
}

.bznavlist {
	width: 205px;
	max-height: 500px;
	padding: 10px;;
	position: absolute;
	top: 29px;
	right: 0;
	background-color: #fafafa;
	border: 1px solid #cdcdcd;
	z-index: 999;
	opacity: .9;
	overflow: auto;
}

.bznavlist ul {
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.bznavlist ul li {
	margin-bottom: 10px;
}

.bznavlist ul label {
	display: block;
	padding: 3px 10px;
}

.bznavlist ul label:hover {
	background-color: #4682B4;
	color: #fff;
}

.bznavlist ul label:hover .lremove {
	display: block;
}

.bznavlist ul label input {
	vertical-align: sub;
}

.bznavlist ul label .lname {
	display: inline-block;
	*display: inline;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.bznavlist ul label .lremove {
	display: none;
	float: right;
	cursor: pointer;
	margin-top: 10px;
}

.bznavlist .bznavtitle {
	margin-bottom: 5px;
	font-weight: bold;
}

.bznavlist .bznavtitle .tname {
	display: inline-block;
	*display: inline;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bznavlist .bznavtitle .tremove {
	margin-left: 10px;
	font-weight: normal;
	color: #008dd5;
	cursor: pointer;
	vertical-align: top;
}

.bznavlist .bznavtitle .tremove:hover {
	color: #79CDCD;
}

.ultitle {
	overflow: hidden;
}

.ultitle .listchecked {
	display: block;
	float: left;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.datalist li {
	height: auto !important;
}

.datalist li i {
	font-size: 30px;
}

.datalist .listtitle {
	max-width: 200px !important;
}

.datalist .listdetail {
	width: 270px;
	height: auto !important;
}

.ultitle span {
	display: inline-block;
	font-size: 14px;
	color: #333;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ultitle div {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 12px;
	color: #0079be;
	font-family: "宋体";
	font-weight: bold;
}

.ultitle div:hover {
	color: #104E8B;
}

.bznavbody label i {
	font-size: 28px;
}

.labelbg01 {
	color: #00bb9c;
}

.labelbg02 {
	color: #f4c600;
}

.labelbg11 {
	color: #56abe4;
}

.labelbg12 {
	color: #9d55b8;
}

.labelbg21 {
	color: #eb4f38;
}

.labelbg22 {
	color: #ea8010;
}

div#dtfw_mainright {
	height: 100% !important;
}

.dtfw_mainrighttop {
	background-color: #eee;
}

/***************/
.dtfw_con {
	height: 600px;
}

.dtfw_main .dtfw_mainleft {
	position: relative;
	float: left;
	height: 100%;
}

.dtfw_main .dtfw_mainright {
	padding-top: 30px;
}

.dtfw_main .dtfw_mainright .dtfw_mainrighttop {
	position: absolute;
	left: 0;
	top: 0;
}

.fa {
	position: absolute;
	right: 0;
	right: 27px;
	top: 37px;
}

.esriPopup .titleButton.close {
	opacity:1;
}