
li{
	  list-style: none outside none;
}
em{
	font-style: normal;
    font-weight: normal;
    color:#f00;
}

.address{
	margin-left:20px;
	width:775px;
	min_width:775px;
	font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
}
.order{
	width:950px;
	min_width:950px;
	font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
}
.address a{
	text-decoration:none;
}
.address a:hover{
	color:#fe6409;
}
.address .manage-address {
    float: right;
    font-size: 12px;
    font-weight: 400;
}
.address .address-list li {
    border: 1px solid white;
   	line-height: 25px;
    padding-left: 92px;
    position: relative;
 
}
.address .address-list li.selected{
	line-height: 32px;
	 padding-left: 92px;
	 box-shadow: 5px 5px 0 #F3F3F3;
	 margin-bottom: 7px;
    margin-top: 5px;
     background-color: #FFF5CC;
    border: 1px solid #FFE580;
     position: relative;
}
.address .marker {
    background: transparent;
    display: none;
    height: 25px;
    left: 10px;
    position: absolute;
    top: 6px;
    width: 15px;
}
.address .marker-tip {
    color: #FF5500;
    font-weight: 700;
    left: 30px;
    position: absolute;
    top: 0;
    display: none;
}
 .address-list .tip {
    color: #808080;
    margin-left: 20px;
  }
.address .modify {
    display: none;
    float: right;
    margin-right: 10px;
}
.address li.selected .modify {
    margin-left: 10px;
}
.address li.selected .marker, .address li.selected .marker-tip, .address li.selected .modify{
	 display: block;
}
.address li input, .address li label, .address-list .tip {
    vertical-align: baseline;
}
.address-list .selected label, .address-list .selected label em {
    font-size: 14px;
    font-weight: normal;
}
.address li label {
    padding-left: 10px;
    cursor:pointer;
}
.address li .address_input{
	cursor:pointer;
}
.address-list label em {
    color: #808080;
}
.addr-popup-content{
	width:820px;
}
.addr-popup-content table{
	border-collapse: collapse;
    border-spacing: 0;
    font: 12px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, Simsun;
}
.addr-popup-content th, .addr-popup-content td {
    padding: 5px 0;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
}
.addr-popup-content th {
    color: #333333;
    line-height: 26px;
    padding-left: 8px;
    text-align: right;
    width: 96px;
}
.addr-popup-content select {
    height: 23px;
    line-height: 23px;
    margin-right: 15px;
    width: 140px;
}
.addr-popup-content textarea {
    height: 60px;
    width: 600px;
}
.addr-popup-content .text {
    border: 1px solid #CCCCCC;
    line-height: 20px;
    outline: 0 none;
    padding: 4px 3px;
    resize: none;
}
.btn_more_addr,.btn_new_addr{
	line-height:28px;
	border:1px solid #BFBFBF;
	border-radius:3px;
	display:inline-block;
	height:28px;
	background:#F5F5F5;
	padding:0px 5px;
	color:#404040;
	margin-left:140px;
}