.ui-widget-overlay {z-index:99999999; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background-color: #666666; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background-color: #000000; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }

.ui-widget {  font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; color: #333333; }
.ui-widget-header { border: 1px solid #efefef; background: #059AF8;font-size:15px;line-height:20px; height:20px; }

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; overflow: hidden; }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: hidden; zoom: 1; }
.ui-dialog .ui-dialog-btn-bar {margin:.5em 0em .2em;padding:.2em .1em;text-align:right;}
.ui-dialog .ui-dialog-btn-bar .ui-dialog-btn{margin:.1em .5em 0;color: #333333;}

.dialog-close-icon,.dialog-success,.dialog-error{background: url(img/dialog/dialog.png) no-repeat -72px -16px;_background-image:url(img/dialog/dialog.gif);}
.dialog-close-icon:hover{background-position:-94px -15px;} 
.dialog-success,.dialog-error{
	width:36px;
	height:36px;
	float:left;
	overflow:hidden;
	margin:12px;
}
.dialog-error{background-position:0px 0px;}
.dialog-success{background-position:-35px 0px;}
.dialog-tip{line-height:20px;padding:1em .2em;font-size:13px;}