@CHARSET "UTF-8";
.footer-wrap {
	width: 100%;
	margin-top: 26px;
}
.footer-wrap .footer-parts {
	width: 100%;
	height: 43px;
	text-align: center;
	background: #888787;
}
.footer-wrap .footer-part {
	display: inline-block;
	height: 100%;
	line-height: 43px;
	color: #FFF;
	font-size: 14px;
	padding: 0 20px;
	margin: 0 10px;
}
.footer-wrap .footer-part:hover {
	text-decoration: none;
	background: #373B42;
}
.footer-wrap .footer-rights {
	width: 100%;
	margin: 10px 0;
	text-align: center;
}
.footer-wrap .footer-rights span {
	padding: 5px 2px;
	background: #F8F8F8;
	line-height: 20px;
	font-size: 12px;
}