@charset "utf-8";

body {
	background: url(../../../../img/appcenter/map/enforcelaw/bg.png);
	margin: 0 auto;
	font-family: "宋体";
	font-size: 12px;
}

a {
	color: #333333;
	text-decoration: none;
}

.head {
	margin: 0 auto;
	height: 185px;
	background-image: url(../../../../img/appcenter/map/enforcelaw/head.png);
}

.content {
	width: 980px;
	margin: 0 auto;
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	margin-top: 10px;
	overflow: hidden;
}
/* 搜索*/
.sousuo_search {
	margin: 0 auto;
	width: 621px;
	height: 101px;
	background-image: url(../../../../img/appcenter/map/enforcelaw/a_1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.sousuo_schtitle {
	float: left;
	width: 98px;
	height: 36px;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 14px;
	color: #333;
}

.sousuo_schtitle .sousuo_schtext {
	float: left;
	padding: 11px 2px 10px 10px;
	width: 70px;
}

.sousuo_schtitle .sousuo_schtext span {
	margin-right: 5px;
}

.sousuo_schtitle .sousuo_schdown {
	position: relative;
	width: 16px;
	height: 36px;
	float: right;
	background-image:
		url(../../../../img/appcenter/map/enforcelaw/top_arrow_search.jpg);
	background-repeat: no-repeat;
	background-position: 0 19px;
}

.sousuo_schtitle .sousuo_schlist {
	position: absolute;
	z-index: 100;
	top: 40px;
	left: 2px;
	border: 1px solid #a9a9a9;
	border-top: 0;
	text-align: left;
	width: 94px;
	background-color: #f4f4f4;
}

.sousuo_schtitle .sousuo_schlist ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sousuo_schtitle .sousuo_schlist ul li {
	padding: 5px 0;
	padding-left: 12px;
}

.sousuo_schtitle .sousuo_schlist ul a {
	color: #333;
	text-decoration: none;
}

.sousuo_schtitle .sousuo_schlist ul li:hover {
	background-color: #ccc;
}

.sousuo_schinput {
	float: left;
	width: 390px;
	height: 34px;
	position: relative;
	top: 34px;
	margin-left: 3px;
}

.sousuo_schinput .sousuo_inputext {
	width: 394px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-left: 15px;
}

.sousuo_schbutton {
	float: left;
	width: 105px;
	height: 36px;
	position: relative;
	top: 30px;
	left: 20px;
}

.sousuo_schbutton div {
	width: 104px;
	height: 36px;
	border: 0;
}

/* xuanze*/
.content .chose {
	margin-top: 45px;
	background: #f6f6f6;
	width: 978px;
	height: 80px;
	border-right: 1px #d5d5d5 solid;
	border-top: 1px #d5d5d5 solid;
	border-bottom: 1px #d5d5d5 solid;
}

.content .chose .chose_main {
	height: 40px;
}

.content .chose .chose_main .chose_m_header {
	height: 39px;
	width: 85px;
	background: #1D7AD9;
	line-height: 39px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	text-align: center;
	float: left;
	border-bottom: : 1px solid #f6f6f6;
}

.content .chose .chose_main .chose_m_body {
	margin-left: 105px;
	width: 850px;
	height: 39px;
	border-bottom: 1px #d5d5d5 solid;
}

.content .chose .chose_main .chose_m_body .m_body_n {
	padding: 5px 0px;
	height: 39px;
}

.content .chose .chose_main .chose_m_body .m_body_n  ul {
	list-style: none;
	padding: 0px;
	height: 24px;
	margin-top: 3px;
}

.list_1 {
	color: #FFF !important;
	background-color: #1D7AD9;
}

.content .chose .chose_main .chose_m_body .m_body_n  ul li {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	cursor: pointer;
	line-height: 20px;
}

.content .chose .chose_main .chose_m_body .m_body_n  ul li:hover {
	background-color: #1D7AD9;
	color: #FFF;
}

.content .chose .chose_main1 {
	height: 40px;
}

.content .chose .chose_main1 .chose_m_header1 {
	height: 39px;
	width: 85px;
	background: #1D7AD9;
	line-height: 39px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	text-align: center;
	float: left;
	border-bottom: : 1px solid #FFF;
}

.content .chose .chose_main1 .chose_m_body1 {
	margin-left: 105px;
	width: 850px;
	height: 39px;
}

.content .chose .chose_main1 .chose_m_body1 .m_body_n1 {
	padding: 5px 0px;
}

.content .chose .chose_main1 .chose_m_body1 .m_body_n1  ul {
	list-style: none;
	padding: 0px;
	height: 24px;
	margin-top: 3px;
}

.content .chose .chose_main1 .chose_m_body1 .m_body_n1  ul li {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	cursor: pointer;
	line-height: 20px;
}

.content .chose .chose_main1 .chose_m_body1 .m_body_n1  ul li:hover {
	background-color: #1D7AD9;
	color: #FFF;
}

/* main*/
.content .main {
	width: 978px;
	background: #f9f9f9;
	border: 1px #d5d5d5 solid;
	padding-bottom: 30px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.content .main .nav {
	height: 40px;
	background: url(../../../../img/appcenter/map/enforcelaw/nav_1.PNG);
	border-bottom: 1px #d5d5d5 solid;
}

.content .main .nav .nav_left {
	float: left;
	height: 40px;
}

.content .main .nav .nav_left ul {
	list-style: none;
	padding: 0px;
}

.content .main .nav .nav_left ul li {
	float: left;
	margin-top: -12px;
	line-height: 40px;
	width: 145px;
	height: 40px;
	text-align: center;
	border-right: 1px #d5d5d5 solid;
	font-size: 14px;
	font-weight: bold;
}

.content .main .nav .nav_left ul li:hover {
	background: url(../../../../img/appcenter/map/enforcelaw/nav_2.PNG);
}

.content .main .nav .nav_right {
	float: right;
	margin-right: 15px;
	line-height: 40px;
	color: #898989;
	font-size: 14px;
}
/* 1*/
.content .main .cfzs1 {
	width: 885px;
	margin: 0 auto;
	margin-top: 35px;
	padding-bottom: 420px;
}

.content .main .cfzs1 .cfzs1_top {
	font-size: 18px;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.content .main .cfzs1 .cfzs1_tu {
	margin: 0 auto;
	margin-top: 30px;
	width: 900px;
	height: 400px;
}

/* 2*/
.content .main .zfsl1 {
	width: 740px;
	margin: 0 auto;
	margin-top: 35px;
	padding-bottom: 420px;
}

.content .main .zfsl1_top {
	ont-size: 18px;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.content .main .zfsl1_tu {
	margin: 0 auto;
	margin-top: 30px;
	width: 900px;
	height: 400px;
}

/* 3*/
.content .main .zffb {
	margin-top: 0px;
	padding-bottom: 0px;
}

/* 4 */
.content .main .cfxx {
	width: 805px;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 10px;
}

.content .main .cfxx  .more {
	width: 50px;
	margin-left: 750px;
}

.content .main .cfxx  .more a {
	color: #3385ff;
}

.content .main .cfxx .cfxx_table {
	text-align: center;
	margin-top: 20px;
}

.content .main .cfxx .cfxx_table tr {
	height: 30px;
}

.cfxx_table a {
	color: #00F;
}

.list_on {
	background-color: #f9f9f9 !important;
	height: 41px !important;
	border-bottom: none !important;
}

/* 头 脚*/