@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
}

#search-box {
	position: relative;
	width: 100%;
	height: 51px;
	background-color: #f8f8f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f0f0f0;
	font-size: 12px;
}

.input-box {
	float: left;
	width: 350px;
	height: 30px;
	line-height: 29px;
	text-align: left;
	font-size: 16px;
	padding: 0px 5px;
	border: 1px solid #1BABC5;
	font-family: "微软雅黑";
}

#search-box .search-between {
	height: 31px;
	background-color: #f8f8f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f0f0f0;
	width: 600px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.list {
	width: 600px;
	margin: 0px auto;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.qushi_list {
	width: 578px;
	font-size: 12px;
	border: 1px solid #f0f0f0;
	padding: 5px 10px;
	margin: 10px auto;
}

.qushi_list input {
	vertical-align: -3px;
}

.renzheng_list {
	width: 600px;
	height: 20px;
	margin: 0 auto;
}

#Pagination {
	width: 380px;
	margin: 27px auto;
}

.main_list ul li .main_listname a {
	color: #1d7ad9;
	text-decoration: none;
	font-family: "微软雅黑";
}

.main_list ul li {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #63c3d4;
	padding: 10px;
}

.main_list ul li:hover {
	background: #e5f9ff;
}

.main_list ul li .main_listaddress {
	font-size: 12px;
	color: #666;
}

.main_list ul li .main_listaddress p {
	line-height: 20px;
	margin: 5px 0px;
}

.main_list ul li .main_listname .listqx {
	width: 55px;
	height: 20px;
	vertical-align: middle;
	margin-left: 30px;
	display: inline-block;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url('../../../img/appcenter/map/icon.png');
	background-repeat: no-repeat;
	background-position: -105px -199px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #FFF;
}

.main_list ul li .vico {
	width: 90px;
	height: 30px;
	vertical-align: middle;
	margin-left: 5px;
	display: inline-block;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url('../../../img/appcenter/map/icon.png');
	background-repeat: no-repeat;
	background-position: -421px -100px;
	float: right;
}

#search-box .search-between .search_qhzmap {
	color: #FFF;
	padding: 5px 10px;
	background-color: #1ec1de;
	border: 1px solid #1babc5;
	line-height: 20px;
	float: right;
}

.main_list {
	width: 600px;
	margin: 0 auto;
}

.renzheng_list ul li {
	float: left;
}

.button {
	position: absolute;
	top: 41px;
	text-indent: -999px;
	width: 50px;
	height: 28px;
	cursor: pointer;
	margin-top: -31px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #1babc5;
	border-right-color: #1babc5;
	border-bottom-color: #1babc5;
	background-attachment: scroll;
	background-color: #1EC1DE;
	background-image: url('../../../img/appcenter/map/search.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.pagination a, .pagination span {
	display: inline-block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}

.pagination a {
	text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.navcon {
	width: 600px;
	margin: 8px auto 0px;
	height: 38px;
	display: block;
	position: relative;
	z-index: 99;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url('../../../img/appcenter/map/indexbg.png');
	background-repeat: repeat-x;
	background-position: 0px -153px;
}

.nav {
	border-style: solid;
	border-color: #DBDBDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 1px;
	height: 35px;
	line-height: 35px;
	padding-left: 8px;
}

.nav li.on {
	background: none repeat scroll 0% 0% #1ec1de;
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-color: #1babc5 #1babc5 -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.nav li {
	float: left;
	margin: 0px 1px;
	padding-top: 1px;
	height: 34px;
	line-height: 34px;
	display: inline;
	position: relative;
}

.nav li.on a {
	color: #FFF;
	font-weight: 700;
}

.nav li a {
	color: #000;
	padding: 0px 10px;
	display: block;
	font-size: 14px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.qushi_list form .xs {
	float: left;
	height: 20px;
	font-weight: bold;
	margin-top: 3px;
}

.qushi_list form {
	width: 550px;
}