@charset "utf-8";

body {
	margin: 0;
	font-size: 12px;
	color: #333;
}

.dt_content {
	margin: auto;
	padding: 0px;
	width: 980px;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	background: #BAEEF8;
	padding-left: 10px;
	line-height: 35px;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li .shezhi {
	float: right;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li p .shezhi a {
	list-style: none;
	color: #333;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li p .shezhi a:hover {
	list-style: none;
	color: #03F;
}

.dt_header {
	height: 31px;
	background-color: #f9f9f9;
	color: #666;
}

.dt_header .dt_content div span a {
	text-decoration: none;
	color: #666;
}

.dt_header .dt_content .dt_headerleft {
	float: left;
	margin-top: 8px;
}

.dt_header .dt_content .dt_headerleft span {
	margin-right: 5px;
}

.dt_header .dt_content .dt_headeright {
	float: right;
	margin-top: 8px;
}

.dt_header .dt_content .dt_headeright span {
	margin-left: 5px;
}

.dt_line {
	height: 1px;
	background-color: #5c97c8;
}

.dt_title {
	background-color: #fff;
	font-family: "微软雅黑";
}

.dt_title .dt_content {
	height: 101px;
	background-image: url("../../img/map/top_bg_header.jpg");
}

.dt_title .dt_logo {
	float: left;
	width: 107px;
	height: 101px;
	background-image: url("../../img/map/top_logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_title .dt_keyword {
	float: left;
	width: 274px;
	height: 101px;
	margin-left: 15px;
	background-image: url("../../img/map/top_title.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_title .dt_search {
	float: right;
	width: 441px;
	height: 101px;
	background-image: url("../../img/map/top_bg_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_title .dt_schtitle {
	float: left;
	width: 98px;
	height: 40px;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 15px;
	color: #333;
}

.dt_title .dt_schtitle .dt_schtext {
	float: left;
	padding: 11px 2px 10px 10px;
	width: 70px;
}

.dt_title .dt_schtitle .dt_schtext span {
	margin-right: 5px;
}

.dt_title .dt_schtitle .dt_schdown {
	width: 16px;
	height: 40px;
	float: right;
	background-image: url("../../img/map/top_arrow_search.jpg");
	background-repeat: no-repeat;
	background-position: 0 19px;
}

.dt_title .dt_schinput {
	float: left;
	width: 238px;
	height: 40px;
	position: relative;
	top: 30px;
}

.dt_title .dt_schinput .dt_inputext {
	width: 225px;
	height: 35px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-left: 10px;
}

.dt_title .dt_schbutton {
	float: left;
	width: 105px;
	height: 41px;
	position: relative;
	top: 30px;
}

.dt_title .dt_schbutton div {
	width: 104px;
	height: 41px;
	border: 0;
	background-image: url("../../img/map/top_btn_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_nav {
	height: 40px;
	background-image: url("../../img/map/top_bg_nav.jpg");
	background-repeat: repeat-x;
	color: #fff;
}

.dt_nav .dt_content {
	height: 40px;
}

.dt_nav .dt_content ul {
	padding: 0px;
	margin: 0;
}

.dt_nav	.dt_content ul li {
	height: 15px;
	float: left;
	list-style: none;
	padding: 13px 19px 11px 19px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.dt_nav	.dt_content ul li:hover {
	background-image: url("../../img/map/top_nav_hover2.jpg");
	background-repeat: repeat-x;
}

.dt_theme {
	height: 270px;
	background-image: url("../../img/map/bg_llzt.jpg");
	background-repeat: repeat;
}

.dt_theme .dt_content .dt_themetitle {
	width: 125px;
	height: 47px;
	background-image: url("../../img/map/title_llzt.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_theme .dt_content .dt_themeline {
	width: 945px;
	height: 2px;
	margin: 5px auto 10px auto;
	background-color: #ddd;
}

.dt_theme .dt_content .dt_themelist ul {
	padding: 0;
	margin: 0;
}

.dt_theme .dt_content .dt_themelist ul a li {
	list-style: none;
	float: left;
	min-width: 80px;
	height: 95px;
	text-align: center;
	padding: 0 5px 0 5px;
	font-size: 13px;
	font-family: "微软雅黑";
}

.dt_theme .dt_content .dt_themelist ul a li:hover {
	background-color: #B0E0E6;
}

.dt_theme .dt_content .dt_themelist ul a li img {
	border: 0;
}

.dt_theme .dt_content .dt_themelist .dt_themelogo {
	width: 72px;
	height: 60px;
	margin: 5px 0 5px 0;
}

.dt_theme .dt_content .dt_themelist div {
	color: #000;
}

.dt_theme .dt_content .dt_themelist .dt_themel1 {
	background-image: url("../../img/map/ico_kjjy.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel2 {
	background-image: url("../../img/map/ico_ldrs.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel3 {
	background-image: url("../../img/map/ico_jjgl.png");
	background-position: center 13px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel4 {
	background-image: url("../../img/map/ico_gyjt.png");
	background-position: center 14px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel5 {
	background-image: url("../../img/map/ico_wsjk.png");
	background-position: center 13px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel6 {
	background-image: url("../../img/map/ico_whty.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel7 {
	background-image: url("../../img/map/ico_lyfw.png");
	background-position: center 22px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel8 {
	background-image: url("../../img/map/ico_mzsq.png");
	background-position: center 20px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel9 {
	background-image: url("../../img/map/ico_nysl.png");
	background-position: center 19px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel10 {
	background-image: url("../../img/map/ico_qx.png");
	background-position: 45px 20px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel11 {
	background-image: url("../../img/map/ico_cz.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel12 {
	background-image: url("../../img/map/ico_zfjc.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel13 {
	background-image: url("../../img/map/ico_xxcy.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel14 {
	background-image: url("../../img/map/ico_zhzw.png");
	background-position: center 18px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel15 {
	background-image: url("../../img/map/ico_zjxy.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel16 {
	background-image: url("../../img/map/ico_fpjz.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel17 {
	background-image: url("../../img/map/ico_gtny.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel18 {
	background-image: url("../../img/map/ico_dtmy.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel19 {
	background-image: url("../../img/map/ico_dwsw.png");
	background-position: center 12px;
	background-repeat: no-repeat;
}

.dt_theme .dt_content .dt_themelist .dt_themel20 {
	background-image: url("../../img/map/ico_cxjs.png");
	background-position: center 15px;
	background-repeat: no-repeat;
}

.dt_detail {
	padding-top: 30px;
	min-height: 1160px;
}

.dt_detail .dt_content {
	min-height: 1000px;
}

.dt_detail .dt_content .dt_detailleft {
	width: 702px;
	float: left;
}

.dt_detail .dt_content .dt_detailleft .dt_detailtjzy {
	width: 702px;
	min-height: 40px;
	background-image: url("../../img/map/tjzy_title.jpg");
}

.dt_detail .dt_content .dt_detailleft .dt_detailtjzy a {
	float: right;
	margin: 15px 25px 0 0;
	text-decoration: none;
	color: #666;
}

.dt_detail .dt_content .dt_detailleft .dt_detailtjzy a:hover {
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist {
	background-image: url("../../img/map/tjzy_shadow.png");
	background-repeat: no-repeat;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist ul {
	padding: 0 0 0 0;
	margin: 0;
	border: 1px solid #ccc;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist ul li {
	list-style: none;
	width: 760px;
	height: 101px;
	padding-top: 20px;
	background-image: url("../../img/map/right_bg.png");
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist ul li:hover {
	background-image: url("../../img/map/tjzy_td_on.jpg");
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist ul li img {
	padding: 0 15px 20px 20px;
	float: left;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent {
	float: right;
	width: 610px;
	height: 101px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop
	{
	width: 610px;
	height: 25px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop .dt_contopleft
	{
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop .dt_contopleft .dt_constar
	{
	font-size: 13px;
	color: orange;
	margin-left: 10px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop .dt_contopleft a
	{
	text-decoration: none;
	color: #000;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop .dt_contopleft a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_contop .dt_contopright
	{
	float: right;
	margin: 3px 15px 0 0;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_conmiddle
	{
	width: 610px;
	height: 25px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_conmiddle .dt_conmiddleleft
	{
	color: #666;
	float: left;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_conmiddle .dt_conmiddleright
	{
	float: right;
	margin-right: 15px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_conmiddle .dt_conmiddleright img
	{
	float: right;
	padding: 0 2px 0 2px;
}

.dt_detail .dt_content .dt_detailleft .dt_detaillist .dt_listcontent .dt_conbottom
	{
	color: #666;
}

.dt_detail .dt_content .dt_detailright {
	width: 252px;
	float: right;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph {
	width: 252px;
	margin-bottom: 20px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphtitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphtitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphtitle a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent {
	padding-top: 11px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent ul
	{
	padding: 0;
	margin: 0;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent ul li
	{
	list-style: none;
	padding: 8px 10px 5px 10px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent ul li a
	{
	text-decoration: none;
	color: #000;
	padding-left: 10px;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent ul li a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailxzph .dt_xzphcontent .dt_xzphico
	{
	float: right;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq {
	width: 252px;
	margin-bottom: 20px;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq .dt_rmbqtitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
	margin-bottom: 11px;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq .dt_rmbqtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq .dt_rmbqtitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq .dt_rmbqtitle a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailrmbq .dt_rmbqcontent {
	width: 252px;
	height: 220px;
}

.dt_detail .dt_content .dt_detailright .dt_detailwsdc img {
	border: 0;
	margin-bottom: 20px;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm {
	width: 252px;
	margin-bottom: 20px;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmtitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent {
	width: 252px;
	height: 70px;
	padding-top: 18px;
	text-align: center;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent .dt_gywmmodel
	{
	float: left;
	margin: 0 15px 3px 15px;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent .dt_gywmmodel a
	{
	text-decoration: none;
	color: #000;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent .dt_gywmmodel a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent .dt_gywmmodel .dt_gywmlogo img
	{
	border: 0;
}

.dt_detail .dt_content .dt_detailright .dt_detailgywm .dt_gywmcontent .dt_gywmmodel .dt_gywmtext
	{
	margin-top: 8px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy {
	width: 252px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyytitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyytitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyytitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyytitle a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent {
	width: 252px;
	height: 70px;
	padding-top: 12px;
	text-align: center;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel
	{
	float: left;
	margin: 0 15px 3px 15px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_tjyylogo
	{
	width: 40px;
	height: 40px;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_applogo1
	{
	background-image: url("../../img/map/ico_tjyy1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_applogo2
	{
	background-image: url("../../img/map/ico_tjyy2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_applogo3
	{
	background-image: url("../../img/map/ico_tjyy3.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_tjyytext a
	{
	text-decoration: none;
	color: #000;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_tjyytext a:hover
	{
	color: #008dd5;
}

.dt_detail .dt_content .dt_detailright .dt_detailtjyy .dt_tjyycontent .dt_tjyymodel .dt_tjyytext
	{
	margin-top: 8px;
}

.dt_footer {
	height: 111px;
	background-image: url("../../img/map/footer_bg.jpg");
	background-repeat: repeat-x
}

.dt_footer .dt_content {
	text-align: center;
	color: #666;
}

.dt_footer .dt_content .dt_footerup {
	padding-top: 20px;
}

.dt_footer .dt_content .dt_footerup span {
	margin: 0 13px 0 13px;
}

.dt_footer .dt_content .dt_footerup span a {
	text-decoration: none;
	color: #666;
}

.dt_footer .dt_content .dt_footermiddle {
	height: 2px;
	margin: 8px 0 8px 0;
	background-image: url("../../img/map/footer_line.jpg");
	background-repeat: repeat-x;
}

.dt_footer .dt_content .dt_footerbottom p span {
	margin: 0 5px 0 5px;
}

.ditu {
	width: 980px;
	min-height: 1000px;
	margin: auto;
}

.ditu .dituleft {
	float: left;
	width: 200px;
}

ul {
	list-style-type: none;
	padding: 0
}

.ditu .dituleft ul li {
	height: 150px;
	text-align: center;
	margin-bottom: 10px;
}

.ditu .dituright {
	float: right;
	margin-top: 12px;
	width: 760px;
}

.ditu .dituright .jiekou_1 {
	float: left;
	margin-left: 20px;
	width: 360px;
	margin-top: 20px;
}

.ditu .dituright .dtzj {
	float: left;
	width: 740px;
}

.ditu .dituright .jiekou_1  .img {
	float: left;
	margin-right: 20px;
}

.ditu .dituright .jiekou_1  .bigtitle {
	float: left;
	font-size: 14px;
	line-height: 32px;
	border-bottom: 1px solid #CCC;
	width: 200px;
}

.ditu .dituright .jiekou_1  .bigtxt {
	float: left;
	line-height: 24px;
	margin-top: 10px;
	width: 200px;
	height: 100px;
}

.ditu .dituright .dtzj ul {
	margin-left: 50px;
	margin-top: 20px;
}

.ditu .dituright .dtzj .dtzjtop {
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}

.ditu .dituright .dtzj ul li {
	width: 230px;
	font-size: 14px;
	float: left;
	margin-top: 30px;
}

.ditu .dituright .dtzj ul li p {
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	margin-left: 10px;
}

.ditu .dituright .dtzj ul li img {
	float: left;
}

.ditu .dituright .dtzs .sousuo .jiaohuan {
	height: 25px;
	width: 25px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	background: url(../../img/map/jt-jiantou.png) no-repeat center center;
	border: 1px solid #CCC;
}

.ditu .dituright .dtzs .sousuo input {
	float: left;
	line-height: 25px;
	height: 25px;
}

.ditu .dituright .dtzs .sousuo img {
	margin-left: 20px;
}

.ditu .dituright .dtzs .dtzs-dt {
	width: 760px;
	border: 1px solid #CCC;
	height: 430px;
	margin-top: 10px;
}

.ditu .dituright .dtzs .dtzs-dt .dtzstop {
	height: 30px;
	width: 760px;
	border-bottom: 1px solid #CCC;
	background: #f0f0f0;
}

.ditu .dituright .dtzs .dtzs-dt .dtzstop select {
	height: 30px;
	width: 60px;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li img {
	float: right;
	margin-right: 15px;
	margin-top: 12px;
}

.ditu .dituright .dtzs .dtzs-dt .dtzsright {
	width: 190px;
	background: #999;
	float: left;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right {
	width: 180px;
	height: 500px;
	float: right;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-map {
	height: 400px;
	width: 579px;
	border-right: 1px solid #CCC;
	float: left;
}

.ditu .dituright .dtlb .top2 {
	width: 760px;
	background-color: #f0f0f0;
	border-top: 1px solid #f0f0f0;
	height: 45px;
	font-family: "微软雅黑";
}

.ditu .dituright .dtlb .top2title {
	float: left;;
	font-size: 15px;
	font-weight: bold;
	background-color: #008dd5;
	color: #fff;
	padding: 13px;
}

.ditu .dituright #subcontent1 {
	width: 760px;
}

.ditu .dituright .dtlb .top2 .current {
	background: #fff;
	border-bottom: 0;
}

.ditu .dituright .dtlb .top2 ul {
	display: inline;
	padding: 0;
}

.ditu .dituright .dtlb .top2 ul li {
	list-style: none;
	float: left;
	font-size: 14px;
	padding: 12px;
	width: 68px;
	text-align: center;
	color: #000;
	background-color: #ebedf0;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f0f0f0;
}

.ditu .dituright .dtlb .top2 ul li:hover {
	background-color: #fff;
}

.ditu .dituright .dtlb .top2 ul li a {
	color: #333;
	text-decoration: none;
}

.ditu .dituright .dtlb .top2searchnum {
	float: right;
	font-size: 13px;
	padding: 0px 5px 0 0;
}

.ditu .dituright .dtlb .top2searchnum span {
	font-size: 18px;
	color: orange;
	margin: 0 5px 0 5px;
}

.ditu .dituright .dtlb .top2 .current {
	background: #fff;
	border-bottom: 0;
}

.ditu .dituright .dtlb .listshow .listdata {
	width: 760px;
	margin: 10px auto 0 auto;
	padding: 0;
}

.ditu .dituright .dtlb .listshow.listdata img {
	padding: 20px 15px 20px 25px;
	float: left;
}

.ditu .dituright .dtlb .listshow .listdata li img {
	padding: 30px 15px 35px 25px;
	float: left;
}

.ditu .dituright .dtlb .listshow.listdata li {
	list-style: none;
	height: 120px;
}

.ditu .dituright .dtlb .listshow .listdata li .datacon {
	height: 105px;
	width: 755px;
	float: right;
	padding-top: 15px;
	font-family: "宋体";
	background: url(../../img/map/right_bg.png) no-repeat center;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataleft {
	width: 580px;
	float: left;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .leftopcon a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-size: 16px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .leftopcon a:hover {
	color: #008dd5 !important;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .leftopcon span {
	font-size: 10px;
	color: orange; /* margin-left: 10px; */
}

.ditu .dituright .dtlb .listshow .listdata .datacon .leftbottomcon {
	font-size: 13px;
	color: #999;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .leftbottomcon div {
	margin-top: 10px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright {
	width: 150px;
	float: right;
	padding-right: 8px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightopcon
	{
	font-size: 13px;
	text-align: right;
	margin-top: 5px;
	letter-spacing: -1px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightbottomcon
	{
	width: 80px;
	text-align: right;
	float: right;
	margin-top: 5px;
	height: 42px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightbottomcon img
	{
	margin: 3px 3px 0 0;
	padding: 0;
	float: right;
}

.ditu .dituright .dtlb .listshow .listdata .datacon:hover {
	background-image: url('../../img/map/tjzy_td_on.jpg') !important;
	background-repeat: repeat-y;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightchakan
	{
	float: right;
	margin-top: 5px;
	padding-right: 3px;
	font-size: 13px;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightchakan a
	{
	text-decoration: none;
	color: #333;
}

.ditu .dituright .dtlb .listshow .listdata .datacon .dataright .rightchakan a:hover
	{
	color: #008dd5;
}
/* caselist */
.caselist {
	width: 200px;
}

.caselist li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 10px 15px 0;
	position: relative;
	overflow: hidden;
}

.tagImg1 {
	width: 200px;
	height: 150px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

.tagImg1 img {
	width: 200px;
	height: 150px;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li p {
	width: 160px;
	background: url(../../img/map/jia.png) no-repeat right;
}

.ditu .dituright .dtzs .dtzs-dt .dtzs-right ul li {
	margin: 0px;
	padding: 0px;
	padding: 0 10px;
	border-bottom: 1px dashed #CCC;
}

.tagImg2 {
	width: 59px;
	height: 59px;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.tagImg2 img {
	width: 59px;
	height: 59px;
}

.tagDiv1 {
	background: #F4F4F4;
	border: 1px solid #E7E7E7;
	padding: 10px;
	width: 180px;
	height: 130px;
	position: absolute;
	left: 0px;
	top: 200px;
	z-index: 2;
}

.tagDiv1 h3 {
	margin: 0px;
	font-size: 12px;
	color: #000;
	line-height: 16px;
}

.tagP1 {
	margin: 5px 0 0;
	color: #666;
}

.tagP2 {
	line-height: 22px;
	clear: both;
	color: #666;
	padding: 5px 0 0;
	height: 25px;
	overflow: hidden;
}

.shezhi {
	padding-right: 20px;
}

.sd_detail .sd_content .sd_detailleft .pageye {
	height: 67px;
	padding-left: 200px;
	padding-top: 10px;
	width: 500px;
}

.sd_detail .sd_content .sd_detailleft  .pageye ul {
	padding: 0;
	text-align: center;
}

.sd_detail .sd_content .sd_detailleft .pageye ul li {
	list-style: none;
	float: left;
	min-width: 25px;
	height: 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fff;
	padding: 5px 2px 0 2px;
}

.sd_detail .sd_content .sd_detailleft  .pageye .rpage {
	border-right: 1px solid #ccc;
}

.listdata .datacon .leftopcon .starcon {
	margin-left: 10px;
	display: inline-block;
	height: 16px;
	width: 64px;
	overflow: hidden;
	background: url("../../img/catalog/score-sprites.png") no-repeat scroll
		0 -13px transparent;
	vertical-align: top;
}

.listdata .datacon .leftopcon .starmon {
	display: inline-block;
	height: 16px;
	width: 64px;
	overflow: hidden;
	background: url("../../img/catalog/score-sprites.png") no-repeat scroll
		0 3px transparent;
	float: left;
}