@charset "utf-8";

body {
	margin: 0;
	font-size: 12px;
	color: #333;
}

.gray {
	color: #666
}

.orange {
	color: #FFA500
}

.sd_content {
	margin: auto;
	padding: 0px;
}

.sd_header {
	height: 31px;
	background-color: #f9f9f9;
	color: #666;
}

.sd_header .sd_content div span a {
	text-decoration: none;
	color: #666;
}

.sd_header .sd_content .sd_headerleft {
	float: left;
	margin-top: 8px;
}

.sd_header .sd_content .sd_headerleft span {
	margin-right: 5px;
}

.sd_header .sd_content .sd_headeright {
	float: right;
	margin-top: 8px;
}

.sd_header .sd_content .sd_headeright span {
	margin-left: 5px;
}

.sd_line {
	height: 1px;
	background-color: #5c97c8;
}

.sd_title {
	background-color: #fff;
	font-family: "微软雅黑";
}

.sd_title .sd_content {
	height: 101px;
	background-image: url("img/top_bg_header.jpg");
}

.sd_title .sd_logo {
	float: left;
	width: 107px;
	height: 101px;
	background-image: url("img/top_logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_title .sd_keyword {
	float: left;
	width: 274px;
	height: 101px;
	margin-left: 15px;
	background-image: url("img/top_title.png");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_title .sd_search {
	float: right;
	width: 441px;
	height: 101px;
	background-image: url("img/top_bg_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_title .sd_schtitle {
	float: left;
	width: 98px;
	height: 40px;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 15px;
	color: #333;
}

.sd_title .sd_schtitle .sd_schtext {
	float: left;
	padding: 11px 2px 10px 10px;
	width: 70px;
}

.sd_title .sd_schtitle .sd_schtext span {
	margin-right: 5px;
}

.sd_title .sd_schtitle .sd_schdown {
	width: 16px;
	height: 40px;
	float: right;
	background-image: url("img/top_arrow_search.jpg");
	background-repeat: no-repeat;
	background-position: 0 19px;
}

.sd_title .sd_schinput {
	float: left;
	width: 238px;
	height: 40px;
	position: relative;
	top: 30px;
}

.sd_title .sd_schinput .sd_inputext {
	width: 225px;
	height: 35px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-left: 10px;
}

.sd_title .sd_schbutton {
	float: left;
	width: 105px;
	height: 41px;
	position: relative;
	top: 30px;
}

.sd_title .sd_schbutton div {
	width: 104px;
	height: 41px;
	border: 0;
	background-image: url("img/top_btn_search.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_nav {
	height: 40px;
	background-image: url("img/top_bg_nav.jpg");
	background-repeat: repeat-x;
	color: #fff;
}

.sd_nav .sd_content {
	height: 40px;
}

.sd_nav .sd_content ul {
	padding: 0px;
	margin: 0;
}

.sd_nav	.sd_content ul li {
	height: 15px;
	float: left;
	list-style: none;
	padding: 13px 19px 11px 19px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.sd_nav	.sd_content ul li:hover {
	background-image: url("img/top_nav_hover2.jpg");
	background-repeat: repeat-x;
}

.sd_carousel {
	height: 150px;
	background-repeat: repeat-x;
	font-family: "微软雅黑";
}

.sd_carousel .sd_content {
	height: 150px;
	position: relative;
	background: url(img/top_banner1.png);
}

.sd_carousel .sd_lunbobg1 {
	background-image: url("img/top_banner1.png");
}

.sd_xzphcontent ul li .count-ico {
	width: 17px;
	height: 17px;
	display: inline-block;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	margin-right: 5px;
	font-size: 12px;
	font-family: 'Microsoft YaHei';
	vertical-align: 1px;
}

.sd_xzphcontent ul li .ico-red {
	background: url('../../img/layout/number_bg.png');
}

.sd_xzphcontent ul li .ico-grey {
	background: url('../../img/layout/number_bg1.png');
}

.sd_xzphcontent ul li .ico-purple {
	background: url('../../img/layout/number_bg0.png');
}

.sd_carousel .sd_content .sd_notice {
	width: 250px;
	height: 265px;
	position: absolute;
	z-index: 999;
	left: 727px;
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 25px;
}

.sd_carousel .sd_content .sd_notice .sd_noticetitle {
	width: 230px;
	height: 50px;
	margin: 0 auto 0 auto;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.sd_carousel .sd_content .sd_notice .sd_noticetitle div {
	margin-top: 19px;
}

.sd_carousel .sd_content .sd_notice .sd_notitleleft {
	float: left;
	font-size: 16px;
	width: 50%;
	padding-bottom: 9px;
}

.sd_carousel .sd_content .sd_notice .sd_notitleright {
	float: left;
	font-size: 16px;
	width: 50%;
	padding-bottom: 9px;
}

.sd_carousel .sd_content .sd_notice .sd_notitleborder {
	border-bottom: 2px solid #B22222;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice {
	font-size: 14px;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice ul {
	padding: 0;
	margin-left: 18px;
	border-left: 1px solid #ddd;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice ul li {
	position: relative;
	list-style: none;
	margin-left: -5px;
	padding-left: 20px;
	line-height: 37px;
	background-image: url("img/cloud-icon.png");
	background-repeat: no-repeat;
	background-position: -292px 9px;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice ul li a {
	text-decoration: none;
	color: #333;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice ul li a:hover {
	color: #008dd5;
}

.sd_carousel .sd_content .sd_notice .sd_shownotice .sd_checked {
	width: 18px;
	height: 18px;
	position: absolute;
	left: -5px;
	top: 9px;
	background-image: url("img/cloud-icon.png");
	background-repeat: no-repeat;
	background-position: -31px top;
}

.sd_carousel .sd_content .sd_carouselbutton {
	position: absolute;
	z-index: 999;
	top: 272px;
	left: 630px;
	width: 94px;
	height: 22px;
	bottom: 0;
}

.sd_carousel .sd_content .sd_carouselbutton div {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.sd_carousel .sd_content .sd_carouselbutton .sd_carouncheck {
	background-image: url("img/top_banner_dot_b.png");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_carousel .sd_content .sd_carouselbutton .sd_carouchecked {
	background-image: url("img/top_banner_dot_w.png");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_count {
	height: 87px;
}

.sd_count .sd_countbgleft {
	position: absolute;
	z-index: -1;
	left: 0;
	height: 87px;
	width: 50%;
	background-image: url("img/top_bg_counter_l.jpg");
	background-repeat: repeat-x;
}

.sd_count .sd_countbgright {
	position: absolute;
	z-index: -1;
	right: 0;
	height: 87px;
	width: 50%;
	background-image: url("img/top_bg_counter_r.jpg");
	background-repeat: repeat-x;
}

.sd_count .sd_content {
	height: 87px;
	background-image: url("img/top_bg_counter.jpg");
}

.sd_count .sd_content .sd_countleft {
	float: left;
	position: relative;
	top: 28px;
	left: 105px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #fff;
}

.sd_count .sd_content .sd_countleft span {
	font-size: 24px;
	font-family: "Arial";
}

.sd_count .sd_content .sd_countright {
	float: right;
	position: relative;
	top: 37px;
	right: 54px;
	font-family: "微软雅黑";
	font-size: 17.5px;
}

.sd_count .sd_content .sd_countright span {
	font-size: 20px;
	font-family: "Arial";
}

.sd_detail {
	padding: 20px 0;
	overflow: hidden;
}

.sd_detail .sd_content {
	min-height: 1000px;
}

.sd_detail .sd_content .sd_detailleft {
	width: 702px;
	float: left;
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy {
	width: 700px;
	min-height: 40px;
	background: #f0f0f0;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist {
	background-image: url("img/tjzy_shadow.png");
	background-repeat: no-repeat;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist ul {
	padding: 0 0 0 0;
	margin: 0;
	border: 1px solid #ccc;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist ul li {
	list-style: none;
	width: 700px;
	height: 101px;
	padding-top: 20px;
	background-image: url("img/right_bg.png");
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist ul li:hover {
	background-image: url("img/tjzy_td_on.jpg");
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist ul li img {
	padding: 0 0 20px 15px;
	float: left;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent {
	float: right;
	width: 610px;
	height: 101px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop
	{
	width: 610px;
	height: 25px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopleft
	{
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopleft .sd_constar
	{
	font-size: 13px;
	color: orange;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopleft .sd_constar-1
	{
	font-size: 13px;
	margin-left: 30px;
	color: #666;
	font-weight: normal;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopleft a
	{
	text-decoration: none;
	color: #000;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopleft a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_contop .sd_contopright
	{
	float: right;
	margin: 3px 15px 0 0;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_conmiddle
	{
	width: 610px;
	height: 40px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_conmiddle .sd_conmiddleleft
	{
	color: #666;
	float: left;
	text-indent: 2em;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_conmiddle .sd_conmiddleright
	{
	float: right;
	margin-right: 15px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_conmiddle .sd_conmiddleright img
	{
	float: right;
	padding: 0 2px 0 2px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist .sd_listcontent .sd_conbottom
	{
	color: #666;
}

.sd_detail .sd_content .sd_detailright {
	width: 252px;
	float: right;
}
/*全部应用*/
.sd_detail .sd_content .sd_detailright .sd_detailqbyy {
	width: 252px;
	margin-bottom: 20px;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyytitle {
	width: 250px;
	height: 177px;
	line-height: 30px;
	background: url(../../img/appcenter/pic_dc.jpg);
	border-right: 1px solid #CCC;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyytitle div
	{
	float: left;
	width: 95px;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
	border-right: 1px solid #CCC;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyytitle a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent {
	padding-top: 10px;
	width: 250px;
	padding-bottom: 15px;
	margin-left: 10px;
	font-family: "微软雅黑";
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent ul
	{
	padding: 0;
	margin: 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent ul li
	{
	list-style: none;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 24px;
	display: inline-block;
	width: 100px;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent ul li img
	{
	margin-right: 10px;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent ul li a
	{
	text-decoration: none;
	color: #333;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent ul li a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyycontent .sd_xzphico
	{
	float: right;
}

/**/
.sd_detail .sd_content .sd_detailright .sd_detailxzph {
	width: 252px;
	margin-bottom: 20px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphtitle {
	width: 250px;
	border-bottom: 2px solid #ccc;
	height: 30px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 5px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphtitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphtitle a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent {
	padding-top: 11px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul
	{
	padding: 0;
	margin: 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li
	{
	list-style: none;
	border-bottom: 1px solid #eee;
	padding: 5px 10px;
	position: relative;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li img
	{
	margin-right: 10px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li a
	{
	text-decoration: none;
	color: #000;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent .sd_xzphico
	{
	position: absolute;
	right: 0;
	top: 13px;
}

/*全用*/
.sd_detail .sd_content .sd_detailright .sd_detailrmbq {
	width: 252px;
	margin-bottom: 20px;
}

.sd_detail .sd_content .sd_detailright .sd_detailrmbq .sd_rmbqtitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
	margin-bottom: 11px;
}

.sd_detail .sd_content .sd_detailright .sd_detailrmbq .sd_rmbqtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.sd_detail .sd_content .sd_detailright .sd_detailrmbq .sd_rmbqtitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailrmbq .sd_rmbqtitle a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailrmbq .sd_rmbqcontent {
	width: 252px;
	height: 220px;
}

.sd_detail .sd_content .sd_detailright .sd_detailwsdc img {
	border: 0;
	margin-bottom: 20px;
}
/*用*/
.sd_detail .sd_content .sd_detailright .sd_detailgywm {
	width: 250px;
	overflow: hidden;
	margin-bottom: 15px;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmtitle {
	width: 250px;
	border-bottom: 2px solid #b0c2da;
	height: 30px;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmtitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 5px;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent {
	width: 252px;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent .sd_gywmmodel
	{
	float: left;
	margin: 15px 8px 3px 8px;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent .sd_gywmmodel a
	{
	text-decoration: none;
	color: #000;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent .sd_gywmmodel a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent .sd_gywmmodel .sd_gywmlogo img
	{
	border: 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailgywm .sd_gywmcontent .sd_gywmmodel .sd_gywmtext
	{
	margin-top: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 68px;
	overflow: hidden;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy {
	width: 252px;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyytitle {
	width: 252px;
	border-bottom: 2px solid #ccc;
	height: 30px;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyytitle div
	{
	float: left;
	width: 95px;
	border-bottom: 2px solid #666;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 7px 0 3px 5px;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyytitle a {
	float: right;
	text-decoration: none;
	color: #666;
	margin: 10px 5px 0 0;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyytitle a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent {
	width: 252px;
	height: 70px;
	padding-top: 12px;
	text-align: center;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel
	{
	float: left;
	margin: 0 15px 3px 15px;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_tjyylogo
	{
	width: 40px;
	height: 40px;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_applogo1
	{
	background-image: url("../../img/appcenter/ico_tjyy1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_applogo2
	{
	background-image: url("../../img/appcenter/ico_tjyy2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_applogo3
	{
	background-image: url("../../img/appcenter/ico_tjyy3.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_tjyytext a
	{
	text-decoration: none;
	color: #000;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_tjyytext a:hover
	{
	color: #008dd5;
}

.sd_detail .sd_content .sd_detailright .sd_detailtjyy .sd_tjyycontent .sd_tjyymodel .sd_tjyytext
	{
	margin-top: 8px;
}

.sd_footer {
	height: 111px;
	background-image: url("img/footer_bg.jpg");
	background-repeat: repeat-x
}

.sd_footer .sd_content {
	text-align: center;
	color: #666;
}

.sd_footer .sd_content .sd_footerup {
	padding-top: 20px;
}

.sd_footer .sd_content .sd_footerup span {
	margin: 0 13px 0 13px;
}

.sd_footer .sd_content .sd_footerup span a {
	text-decoration: none;
	color: #666;
}

.sd_footer .sd_content .sd_footermiddle {
	height: 2px;
	margin: 8px 0 8px 0;
	background-image: url("img/footer_line.jpg");
	background-repeat: repeat-x;
}

.sd_footer .sd_content .sd_footerbottom p span {
	margin: 0 5px 0 5px;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li a
	{
	line-height: 30px;
}

.sd_detail .sd_content .sd_detailleft .sd_detaillist ul .ym {
	height: 60px;
	text-align: center;
	padding-top: 20px;
	background: url(img/ym_bg%20.png);
}

.sd_detail .sd_content .zxyy .top {
	height: 40px;
	width: 960px;
	float: left;
	background:
		url(../%E5%BC%80%E6%94%BE%E5%B9%B3%E5%8F%B0-%E6%96%B0%E9%97%BB%E5%88%97%E8%A1%A8/img/zxyy_bg.png);
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 2px solid #b0c2da;
	border-left: 1px solid #dbdbdb;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 20px;
	margin-top: 10px;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel {
	float: left;
	margin: 18px 0px 10px 20px;
	width: 140px;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel a {
	text-decoration: none;
	color: #000;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel a:hover {
	color: #008dd5;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel .sd_gywmlogo {
	float: left;
	margin-right: 10px;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel .sd_gywmlogo img {
	border: 0;
}

.sd_detail .sd_content .zxyy .main .sd_gywmmodel .sd_gywmtext {
	line-height: 20px;
}

.sd_detail .sd_content .zxyy .main {
	width: 970px;
	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
}

.sd_detail .sd_content .sd_detailleft .pageye {
	height: 67px;
	padding-left: 200px;
	padding-top: 10px;
	width: 500px;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
}

.sd_detail .sd_content .sd_detailleft  .pageye ul {
	padding: 0;
	text-align: center;
}

.sd_detail .sd_content .sd_detailleft .pageye ul li {
	list-style: none;
	float: left;
	min-width: 25px;
	height: 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fff;
	padding: 5px 2px 0 2px;
}

.sd_detail .sd_content .sd_detailleft  .pageye .rpage {
	border-right: 1px solid #ccc;
}

.sd_detail .sd_content .sd_detailright .sd_detailqbyy .sd_qbyytitle div
	{
	height: 30px;
	font-size: 16px;
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy strong {
	font-size: 16px;
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy ul {
	font-size: 14px;
	line-height: 40px;
	margin-left: 5px;
	list-style-type: none;
	margin: 0px;
	padding: 0px
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy ul li {
	float: left;
	border-right: 1px solid #ddd;
	color: #000;
	float: left;
	font-size: 14px;
	list-style: none outside none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "微软雅黑";
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy ul li：hover {
	backgrond-color: #fff !important;
}

.sd_detail .sd_content .sd_detailleft .sd_detailtjzy  ul li a {
	text-decoration: none;
	color: #333;
	font: "微软雅黑"
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent #appList li .yyphname
	{
	float: left;
}

.jiantou {
	margin-left: 2px;
	width: 10px;
	height: 11px;
	background: url(img/icons.png) no-repeat -37px -160px;
	display: inline-block;
}

.sd_detail .sd_content .sd_detailright .sd_detailxzph .sd_xzphcontent ul li .yyphtitle
	{
	width: 150px;
	position: absolute;
	right: 0;
	top: 2px;
}

#main #content #left h1 {
	color: #333;
	font-family: Microsoft YaHei;
	font-size: 24px;
	font-weight: normal;
	line-height: 180%;
	text-align: center;
}

.sd_detail .sd_content #left {
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 4px;
	box-shadow: none;
	float: left;
	width: 868px;
}

.sd_detail .sd_content #left h1 {
	color: #333;
	line-height: 180%;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	font-family: Microsoft YaHei;
}

.sd_detail .sd_content#left .number {
	text-align: center;
	line-height: 33px;
}

.sd_detail .sd_content #left .fenxiang img {
	margin-top: 3px;
	margin-left: 3px;
}

.sd_detail .sd_content #left .sx {
	line-height: 33px;
	text-align: center;
	margin-left: 70px;
	*height: 70px;
}

.sd_detail .sd_content #left p {
	line-height: 28px;
	text-indent: 2em;
	text-align: justify;
	text-justify: inter-ideograph;
	padding-left: 20px;
	width: 95%;
	font-size: 16px;
}

.sd_detail .sd_content #left .source span {
	text-align: center;
}

.sd_detail .sd_content #left .xian {
	background: #3d9fea;
	height: 2px;
	width: 89%;
	margin-left: 40px;
}

.sd_detail .sd_content #left .wypl {
	padding-left: 20px;
}

.sd_detail .sd_content #left .fb {
	font-size: 12px;
	width: 660px;
	line-height: 28px;
	height: 50px;
	padding-left: 20px;
	color: #999;
}

.sd_detail .sd_content #left .fb .plnr {
	float: right;
	height: 28px;
	width: 70px;
}

.sd_detail .sd_content #left .pl img {
	margin-top: 20px;
	margin-left: 20px;
}

.sd_detail .sd_content #left .fenxiang {
	margin-left: 40px;
	line-height: 30px;
}

.sd_detail .sd_content #left .fenxiang img {
	margin-top: 5px;
	margin-left: 5px;
}

.sd_detail .sd_content #left .pinglun {
	height: 100px;
	width: 95%;
	margin-left: 20px;
	border: 1px solid #CCC;
	margin-top: 30px;
}

.sd_detail .sd_content #left .pinglun .pl {
	height: 30px;
	background: #f6f6f6;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
}

.sd_detail .sd_content #left .fb .plnr img {
	margin-top: 10px;
}

.source {
	color: #999;
	font-size: 12px;
	text-align: center;
	margin: 20px auto 0;
}

.description {
	background-color: #fff;
	border: 1px solid #c1d2f0;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-top: 15px;
	min-height: 40px;
	padding: 10px;
	width: 89%;
}

.description span {
	color: #f00;
}

.sd_detail .sd_content #left .pageye {
	height: 67px;
	padding-left: 220px;
	padding-right: 220px;
	padding-top: 20px;
	float: left;
}

.rpage {
	border-right: 1px solid #ccc;
}

.sd_detail .sd_content #left .pageye ul {
	padding: 0;
	text-align: center;
}

.sd_detail .sd_content #left .pageye ul li {
	list-style: none;
	float: left;
	min-width: 25px;
	height: 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fff;
	padding: 5px 2px 0 2px;
}

.sd_detail .sd_content #left .tjyd {
	font-size: 14px;
	margin-left: 20px;
}

.sd_detail .sd_content #left .tjyd ul li a {
	text-decoration: none;
	color: #333;
}

.sd_detail .sd_content #left .tjyd ul li a :hover {
	text-decoration: underline;
	color: #333;
}

.sd_detail .sd_content #left .sx a {
	float: left;
	text-decoration: none;
	color: #3d9fea;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 230px
}

.sd_detail .sd_content #left .sx span {
	float: left
}

.sd_detail .sd_content #left .sx a:hover {
	text-decoration: underline;
}

.sd_detail .sd_content #left .tjyd ul li {
	line-height: 24px;
	list-style: none outside none;
	font-size: 14px
}

.sd_detail .sd_content #left .gl_1 .gl_1_l {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.sd_detail .sd_content #left .gl_1 {
	width: 700px;
	margin-top: 20px;
}

.sd_detail .sd_content #left .gl_1 .gl_1_r p {
	text-indent: 0em;
	border-bottom: 1px dashed #CCC;
}

.sd_detail .sd_content #left .gl_1 .gl_1_r {
	float: left;
	margin-right: 20px;
	width: 600px;
}