/*页脚*/
.footer {
    height: 100px;
    padding: 3px 0;
    text-align: center;
    font-size: 12px;
    color: #666;
    background: url("../../../img/uc/common/footer_bg.png");
}
.footer .g-main{
    width: 1190px;
}
.footer p {
    margin-top: 10px;
    margin-bottom: 5px;
}
.footer .u-footer-up{
    padding-top: 0px;
}
.footer .u-footer-up span{
    margin: 0 13px 0 13px;
}
.footer .u-footer-up span a{
    text-decoration:none;
    color: #666;
}
.footer .u-footer-up span a:hover{
    color: #333;
}
.footer .u-footerline {
    height: 2px;
    margin: 10px 0;
    background: url("../../../img/uc/common/footer_line.jpg") repeat-x;
}