@font-face {  
  font-family: 'siyuan';  
  src:url('../siyuan/siyuan.ttf') format('truetype');
  font-weight: normal;  
  font-style: normal;  
} 
.m-carousel {
  position: relative;
  height: 320px;
}
.m-carousel:after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 440px;
  height: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url('../img/index/imga.png') no-repeat;
}
.m-carousel .m-slogan {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 93px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.m-carousel .m-slogan p {
  margin-top: 30px;
  font-size: 18px;
}
.m-carousel .m-slogan em {
  margin: 0 5px;
  font-style: normal;
  font-weight: bold;
  color: #fff000;
}
.m-carousel .carousel {
  height: 100%;
}
.m-carousel .carousel .caro-arrow div {
  z-index: 2;
}
.m-carousel .carousel .caro-tab {
  left: 48%;
  bottom: 61px;
}
.m-carousel .carousel .caro-tab ul li {
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.m-carousel .carousel .caro-tab ul li.active {
  background-color: #00EFFE;
}
.m-carousel .caro-banner1 {
  background: url('../img/index/banner1.png') no-repeat center;
}
.m-carousel .caro-banner2 {
  background: url('../img/index/banner2.png') no-repeat center;
}
.b-container {
  width: 100%;
}
.b-container .g-main {
  margin: 0 auto;
  width: 1200px;
}
.b-container .g-main .b-head {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 34px;
  color: #333;
}
.b-container .g-main .b-head span {
  font-size: 16px;
  color: #999;
}
.b-container .g-main .b-head:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  background-color: #c8c8c8;
}
.b-container .g-main .b-body {
  width: 100%;
}
.b-container .g-main .b-body .subj-list {
  margin-top: 20px;
}
.b-container .g-main .b-body .subj-list > ul {
  height: 266px;
  overflow: hidden;
}
.b-container .g-main .b-body .subj-list > ul.mark {
  height: auto;
}
.b-container .g-main .b-body .subj-list > ul > li {
  position: relative;
  width: 200px;
  height: 133px;
  float: left;
  text-align: center;
}
.b-container .g-main .b-body .subj-list > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.b-container .g-main .b-body .subj-list > ul > li a:hover .subj-name {
  color: #1b37a8;
  transition: .3s;
}
.b-container .g-main .b-body .subj-list > ul > li a:hover .subj-pic {
  top: 10px;
}
.b-container .g-main .b-body .subj-list > ul > li .subj-pic {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  width: 60px;
  height: 60px;
  margin: auto;
  background: url("../img/index/icona.png") no-repeat;
  transition: .5s;
}
.b-container .g-main .b-body .subj-list > ul > li .icon1 {
  background-position: 0 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon2 {
  background-position: -76px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon3 {
  background-position: -151px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon4 {
  background-position: -226px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon5 {
  background-position: -298px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon6 {
  background-position: -373px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon7 {
  background-position: -448px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon8 {
  background-position: -522px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon9 {
  background-position: -596px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon10 {
  background-position: -667px 0;
}
.b-container .g-main .b-body .subj-list > ul > li .icon11 {
  background-position: 0 -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon12 {
  background-position: -76px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon13 {
  background-position: -150px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon14 {
  background-position: -226px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon15 {
  background-position: -296px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon16 {
  background-position: -368px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon17 {
  background-position: -441px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon18 {
  background-position: -512px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon19 {
  background-position: -585px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .icon20 {
  background-position: -659px -78px;
}
.b-container .g-main .b-body .subj-list > ul > li .subj-name {
  margin-top: 5px;
  font-size: 18px;
  color: #333;
}
.b-container .g-main .b-body .subj-list .show-all {
  width: 120px;
  height: 40px;
  margin: 20px auto;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #444;
  cursor: pointer;
  transition: .3s;
}
.b-container .g-main .b-body .subj-list .show-all:hover {
  color: #1CB3F9;
  border: 1px solid #1CB3F9;
}
.b-container .g-main .b-body .data-list {
  margin-top: 20px;
  overflow: hidden;
}
.b-container .g-main .b-body .data-list .data-block {
  width: 48%;
  float: left;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: content-box;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-name {
  position: relative;
  height: 61px;
  float: left;
  line-height: 60px;
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #2e5bc7;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-name:before {
  content: "";
  position: absolute;
  right: -18px;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #fd4100;
  border-bottom: 5px solid transparent;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-name:after {
  content: '';
  position: absolute;
  right: -58px;
  top: 21px;
  width: 40px;
  height: 20px;
  background-color: #fd4100;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-name.new-more:after {
  content: "NEW";
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-name.hot-more:after {
  content: "HOT";
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-more {
  position: relative;
  float: right;
  padding-right: 15px;
  line-height: 60px;
  font-size: 12px;
  color: #999;
  font-family: Arial;
  cursor: pointer;
}
.b-container .g-main .b-body .data-list .data-block .data-title-container .title-more:after {
  content: "";
  position: absolute;
  right: 0;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid #999;
  border-bottom: 5px solid transparent;
}
.b-container .g-main .b-body .data-list .data-block > ul {
  width: 100%;
}
.b-container .g-main .b-body .data-list .data-block > ul > li {
  width: 100%;
  margin-top: 27px;
  overflow: hidden;
  padding-left: 15px;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title {
  width: 100%;
  float: left;
  position: relative;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #2e5bc7;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title .d-list-name {
  float: left;
  font-size: 16px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title .d-list-name a {
  color: #444;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title .d-list-name a:hover {
  color: #2e5bc8;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-title .d-list-date {
  float: right;
  font-size: 16px;
  color: #999;
}
.b-container .g-main .b-body .data-list .data-block > ul > li .d-list-content {
  width: 100%;
  float: left;
  margin-top: 10px;
  font-size: 12px;
  color: #666666;
}
.b-container .g-main .b-body .data-list .data-block + .data-block {
  margin-left: 4%;
}
.b-container .g-main .b-body .data-list .hot-data > ul > li {
  margin-top: 24px;
}
.b-container .g-main .b-body .app-list {
  margin-top: 20px;
}
.b-container .g-main .b-body .app-list > ul {
  width: 100%;
  overflow: hidden;
}
.b-container .g-main .b-body .app-list > ul > li {
  width: 285px;
  height: 140px;
  float: left;
  margin: 7px;
  border: 1px solid #eaeaea;
  transition: .5s;
}
.b-container .g-main .b-body .app-list > ul > li:hover {
  border: 1px solid #2e5bc7;
}
.b-container .g-main .b-body .app-list > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #2e5bc7;
}
.b-container .g-main .b-body .app-list > ul > li a .left-part {
  width: 120px;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 140px;
}
.b-container .g-main .b-body .app-list > ul > li a .left-part .logo-container {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin-top: 22px;
}
.b-container .g-main .b-body .app-list > ul > li a .left-part .logo-container .app-logo {
  width: 100%;
  height: 100%;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part {
  width: 150px;
  height: 100%;
  float: left;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-name {
  margin-top: 28px;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-score {
  margin-top: 10px;
  font-size: 14px;
  color: #FF8A13;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-system {
  margin-top: 10px;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-system .sys-container {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-system .sys-container i {
  color: #fff;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-system .green {
  background-color: #72c742;
}
.b-container .g-main .b-body .app-list > ul > li a .right-part .app-system .blue {
  background-color: #4398ef;
}
.b-container .g-main .b-body .app-list > ul > li a .more-container {
  height: 40px;
  width: 120px;
  margin: 50px auto;
}
.b-container .g-main .b-body .app-list > ul > li a .more-container .more-app {
  float: left;
  margin-left: 10px;
  line-height: 40px;
  font-size: 16px;
}
.b-container .g-main .b-body .app-list > ul > li a .more-container .more-app-icon {
  float: left;
  line-height: 40px;
  font-size: 30px;
}
.b-container.theme-container {
  padding-bottom: 20px;
}
.b-container.data-container {
  padding: 40px 0 30px;
  background-color: #f6f6f6;
}
.b-container.app-container {
  padding: 40px 0 30px;
}
.fixed-modal{
  position: fixed;
    width: 80px;
    height: 350px;
    background: rgba(166, 220, 254, 1);
    z-index: 9999;
    top: 24%;
    text-align: center;
    font-family: 'siyuan'; 
    font-weight:bold;
    font-size: 16px;
}
.fixed-modal.fixed-m-left {
  left: 0;
}
.fixed-modal.fixed-m-right {
  right: 10px;
}
.fixed-modal .fixed-v-txt {
  padding: 10px 31px 0px 31px;
  line-height: 17px;
  word-wrap: break-word;
  color: #2854ad;
  writing-mode: tb;
}
.fixed-modal .fixed-reco {
  display: block;
  padding: 10px 4px;
  border-top: 1px solid #bfbfbf;
  text-decoration: underline;
  color: #c92e1e;
}