.mylistbox{
	padding-left: 20px;
	position:relative;
}
.myfan_item{	
	width: 98%;
	padding: 10px 0px;
	border-bottom: 1px solid #dcdcdc;
	border-radius: 2px;
	/*box-shadow: 0px 1px 2px 0px #ededed;*/
	margin: 0px;
	float: left;
	position:relative;
	cursor:default;
}
.myfan_item .photo{
	width: 56px;
	height: 56px;
	float: left;
	border:1px solid #dcdcdc;
	border-radius: 2px;
	overflow:hidden;
}
.myfan_item .photo img{
	width: 56px;
	height: 56px;
}
.myfan_item .info{
	line-height: 18px;
	margin: 0px 0px 0px 9px;
	float: left;
	height: 56px;
	overflow: hidden;
}
.myfan_item .info LI{
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	_height: 18px;
	width: 600px;
	line-height:24px;
}
.myfan_item .info LI .info-name{
	display: inline-block;
	max-width:580px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.myfan_item .info LI .is-verified-icon{
	vertical-align:-1px;
}
.myfan_item .info LI .info-name{
	cursor: pointer;
	text-decoration:none;
	color:#000;
	font-size:14px;
	height:20px;
	/*font-weight:bold*/;
}
.myfan_item .info LI .m_num{
	font-size:14px;
	font-weight:bold;
	padding-left:2px;
	color:#44A6CA;
	cursor:default;
}
.myfan_item .info LI .m_num:hover{
	text-decoration:none;
}
.myfan_item .info LI .info-name:hover{
	/*color:#FE640A;*/
}
.myfan_item .info LI .info-group{
	display: inline-block;
}
.myfan_item .info-intro,.myfan_item .info-intro-hover{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px;
	clear: both;
	display: block;
}
.myfan_item .info-intro{
	width: 700px;
}
.myfan_item .info-intro-hover{
	width: auto;
	position:absolute;
	right:0px;
	top:10px;
}
.myfan_item .vline{
	margin: 0px 5px;
	color:#D9D9D9;
}
.myfan_item .info-atten-btn,.myfan_item .info-atten-label{
	text-decoration:none;
	padding:2px 5px;
	display:inline-block;
	width:70px;
	height:18px;
	line-height:18px;
	background:#f2f2f2;
	border:1px solid #d1d1d1;
}
.myfan_item .info-icon-add{
	margin-right: 5px;
	vertical-align: -1px;
    color: #FFA00A;
    font: bold 16px Arial;
    height: 16px;
    text-decoration: none;
}
.myfan_item .info-atten-btn:hover{
	background:#ffa00a;
	color:#fff;
}
.myfan_item .info-atten-btn:hover .info-icon-add,.myfan_item .info-atten-btn:hover.vline{
	color:#fff;
}
.myfan_item .info-intro{
	color:#808080;
}
